<template>
  <div class="q-pa-md row items-start q-gutter-md">
    <q-card class="my-card" flat bordered>
      <q-form @submit.prevent="submitSparringRoundForm">
        <q-card-section class="row no-wrap">
          <div class="text-h6">Add Sparring Round</div>
          <q-space />
          <q-btn v-close-popup flat round dense icon="close" />
        </q-card-section>

        <q-separator color="primary" inset />

        <q-card-section>
          <div class="text-subtitle1">Round Title</div>
          <modal-title
            class="col"
            ref="modalTitle"
            :title.sync="sparringRoundToSubmit.title"
          ></modal-title>

          <div class="text-subtitle1">Round Notes</div>
          <q-input
            clearable
            outlined
            label="Round Notes"
            ref="notes"
            v-model="sparringRoundToSubmit.general_notes"
            filled
            autogrow
          />
        </q-card-section>

        <q-separator color="primary" inset />

        <q-card-section>
          <div class="text-subtitle1">Technique Details</div>
          <div class="row">
            <div class="col q-mr-sm">
              <div class="text-subtitle3">Successful</div>
              <div class="col">
                <q-select
                  class="col"
                  filled
                  clearable
                  v-model="sparringRoundToSubmit.successful_techs"
                  use-input
                  use-chips
                  multiple
                  clearable
                  input-debounce="0"
                  :options="techFilterOptions"
                  label="Successful"
                  @filter="techFilterFn"
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        No results
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </div>
            </div>
            <div class="col">
              <div class="text-subtitle3">Need to Practice</div>
              <div class="col">
                <q-select
                  class="col"
                  filled
                  clearable
                  v-model="sparringRoundToSubmit.need_to_practice_techs"
                  use-input
                  use-chips
                  clearable
                  multiple
                  input-debounce="0"
                  :options="techFilterOptions"
                  label="Need to Practice"
                  @filter="techFilterFn"
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        No results
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </div>
            </div>
          </div>
        </q-card-section>
        <q-separator color="primary" inset />

        <q-card-section>
          <div class="row text-subtitle1">Partner Details</div>
          <div class="row">
            <div class="col q-mr-sm">
              <q-select
                class="col"
                filled
                clearable
                v-model="sparringRoundToSubmit.training_partner_name"
                use-input
                use-chips
                clearable
                input-debounce="0"
                :options="partnerFilterOptions"
                label="Name"
                @filter="partnerFilterFn"
              >
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class="text-grey">
                      No results
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>
            </div>
            <div class="col">
              <q-select
                class="col"
                filled
                clearable
                v-model="sparringRoundToSubmit.training_partner_rank"
                use-input
                use-chips
                clearable
                input-debounce="0"
                :options="beltFilterOptions"
                label="Rank"
                @filter="beltFilterFn"
              >
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class="text-grey">
                      No results
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>
            </div>
          </div>
        </q-card-section>
        <q-separator color="primary" inset />

        <q-card-section>
          <div class="row justify-center">
            <q-btn-toggle
              v-model="sparringRoundToSubmit.result"
              push
              rounded
              glossy
              toggle-color="primary"
              :options="[
                { value: 'win', slot: 'win' },
                { value: 'draw', slot: 'draw' },
                { value: 'loss', slot: 'loss' }
              ]"
            >
              <template v-slot:win>
                <div class="row items-center no-wrap">
                  <div class="text-center">Result<br />Win</div>
                  <q-icon right name="emoji_people" />
                </div>
              </template>

              <template v-slot:draw>
                <div class="row items-center no-wrap">
                  <div class="text-center">Result<br />Draw</div>
                  <q-icon right name="schedule" />
                </div>
              </template>

              <template v-slot:loss>
                <div class="row items-center no-wrap">
                  <div class="text-center">Result<br />Loss</div>
                  <q-icon right name="thumb_down" />
                </div>
              </template>
            </q-btn-toggle>
          </div>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn type="submit" label="Save Round" color="secondary" />
        </q-card-actions>
      </q-form>
    </q-card>
  </div>
</template>

<script>
import mixinAddEditTrainingSession from "src/mixins/mixin-add-edit-training-session";
import { mapActions, mapGetters } from "vuex";
import { uid } from "quasar";
const beltRankOptions = ["White", "Blue", "Purple", "Brown", "Black"];
let partnerNameOptions = [];
let techNameOptions = [];

export default {
  mixins: [mixinAddEditTrainingSession],
  data() {
    return {
      sparringRoundToSubmit: {
        title: "",
        general_notes: "",
        id: uid(),
        result: "",
        successful_techs: null,
        need_to_practice_techs: null,
        training_partner_name: null,
        training_partner_id: uid(),
        training_partner_rank: null
      },
      beltFilterOptions: beltRankOptions,
      partnerFilterOptions: partnerNameOptions,
      techFilterOptions: techNameOptions,
      multiple: null
    };
  },
  props: {
    parentTrainingSession: {
      type: String,
      required: true
    },
    techniques: {
      type: Object,
      required: true
    }
  },
  mounted() {
    // console.log("techniquesArray is: ", techniquesArray);
    console.log("this.partners is: ", this.allPartners);

    let partnersCopy = JSON.parse(
      JSON.stringify(
        Object.keys(this.allPartners).map(i => this.allPartners[i].name)
      )
    );

    partnerNameOptions = partnersCopy;

    console.log("partnerNameOptions are: ", partnerNameOptions);

    let techCopy = JSON.parse(
      JSON.stringify(
        Object.keys(this.allTechniques).map(i => this.allTechniques[i].name)
      )
    );

    techNameOptions = techCopy;

    console.log("techNameOptions are: ", techNameOptions);
  },
  computed: {
    ...mapGetters("partners", ["allPartners"]),
    ...mapGetters("techniques", ["allTechniques"]),
    partnersArray() {
      console.log("in partnersArray, this.allPartners is: ", this.allPartners);

      // This makes a copy of the scenarios on state for the graph
      let partnersCopy = JSON.parse(
        JSON.stringify(
          Object.keys(this.allPartners).map(i => this.allPartners[i].name)
        )
      );

      console.log("in partnersCopy, partnersCopy is: ", partnersCopy);

      return partnersCopy;
    },
    techniquesArray() {
      console.log("in techniquesArray, techniques is: ", this.techniques);

      // This makes a copy of the scenarios on state for the graph
      let techniquesCopy = JSON.parse(
        JSON.stringify(
          Object.keys(this.allTechniques).map(i => this.allTechniques[i].name)
        )
      );

      console.log("in techniquesArray, techniquesArray is: ", techniquesCopy);

      return techniquesCopy;
    }
  },
  components: {
    "add-scenario": require("components/TrainingSessions/AddScenario.vue")
      .default
  },
  methods: {
    // EDITED SINCE WE ONLY CARE ABOUT THE NAME FOR NOW
    getKeyByValue(object, value) {
      return Object.keys(object).find(key => object[key].name === value);
    },
    beltFilterFn(val, update) {
      if (val === "") {
        update(() => {
          this.beltFilterOptions = beltRankOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.beltFilterOptions = beltRankOptions.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    partnerFilterFn(val, update) {
      if (val === "") {
        update(() => {
          this.partnerFilterOptions = partnerNameOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.partnerFilterOptions = partnerNameOptions.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    techFilterFn(val, update) {
      if (val === "") {
        update(() => {
          this.techFilterOptions = techNameOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.techFilterOptions = techNameOptions.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    // ...mapActions("scenarios_and_transitions", ["updatePreviousScenario"]),
    submitSparringRoundForm() {
      // NOTE: This was updated from simply being $refs.title w/the intro of
      // NOTE: the re-usable component.
      this.$refs.modalTitle.$refs.title.validate();
      if (!this.$refs.modalTitle.$refs.title.hasError) {
        this.submitSparringRound();
      }
    },
    submitSparringRound() {
      // IF ANYTHING IS NULL CHANGE IT TO AN EMPTY STRING FOR FIRESTORE
      if (this.sparringRoundToSubmit.successful_techs === null) {
        this.sparringRoundToSubmit.successful_techs = "";
      }
      if (this.sparringRoundToSubmit.need_to_practice_techs === null) {
        this.sparringRoundToSubmit.need_to_practice_techs = "";
      }
      if (this.sparringRoundToSubmit.training_partner_name === null) {
        this.sparringRoundToSubmit.training_partner_name = "";
      }
      if (this.sparringRoundToSubmit.training_partner_rank === null) {
        this.sparringRoundToSubmit.training_partner_rank = "";
      }
      // TODO: CONVERT ANY SUCCESSFUL/TO PRACTICE ARRAY INTO OBJECTS FOR FIRESTORE

      console.log("allTechs are: ", this.allTechniques);

      if (Array.isArray(this.sparringRoundToSubmit.successful_techs)) {
        console.log("there is at least 1 tech!");
        this.sparringRoundToSubmit.successful_techs = {
          ...this.sparringRoundToSubmit.successful_techs
        };
        // Loop through techs in sparring round
        for (const tech in this.sparringRoundToSubmit.successful_techs) {
          console.log(
            "tech is: ",
            this.sparringRoundToSubmit.successful_techs[tech]
          );
          // If the technique does not exist add it to techniques collection
          console.log(
            this.getKeyByValue(
              this.allTechniques,
              this.sparringRoundToSubmit.successful_techs[tech]
            )
          );
        }
        // if partner exists add tech to partners collection (stats)
      }

      console.log("in submitSparringRound in AddDetailedTechNote.vue");
      console.log(
        "submit-sparring-round",
        this.sparringRoundToSubmit,
        this.parentTrainingSession
      );

      // this.$emit(
      //   "add-tech-note",
      //   this.detailedTechNoteToSubmit,
      //   this.parentTrainingSession
      // );
    },
    createPartnerValue(val, done) {
      // Calling done(var) when new-value-mode is not set or "add", or done(var, "add") adds "var" content to the model
      // and it resets the input textbox to empty string
      // ----
      // Calling done(var) when new-value-mode is "add-unique", or done(var, "add-unique") adds "var" content to the model
      // only if is not already set
      // and it resets the input textbox to empty string
      // ----
      // Calling done(var) when new-value-mode is "toggle", or done(var, "toggle") toggles the model with "var" content
      // (adds to model if not already in the model, removes from model if already has it)
      // and it resets the input textbox to empty string
      // ----
      // If "var" content is undefined/null, then it doesn't tampers with the model
      // and only resets the input textbox to empty string

      if (val.length > 0) {
        console.log("IN CREATE VALUE, partnersArray is: ", this.partnersArray);
        if (!this.partnersArray.includes(val)) {
          this.partnersArray.push(val);
        }
        done(val, "toggle");
      }
    },
    partnerFilterFn(val, update) {
      update(() => {
        console.log(
          "IN partnerFilterFn, this.partnersArray is: ",
          this.partnersArray
        );
        console.log("IN partnerFilterFn, val is: ", val);

        if (val === "") {
          this.partnerFilterOptions = this.partnersArray;
        } else {
          const needle = val.toLowerCase();
          console.log("IN partnerFilterFn, needle is: ", needle);
          this.partnerFilterOptions = this.partnersArray.filter(
            v => v.toLowerCase().indexOf(needle) > -1
          );
        }
      });
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
body {
  font-family: "PT Sans", sans-serif;
}
.title {
  position: absolute;
  text-align: center;
  left: 2em;
}
h1,
a {
  color: #1aad8d;
  text-decoration: none;
}
ul.menu {
  list-style: none;
  position: absolute;
  z-index: 100;
  min-width: 20em;
  text-align: left;
}
ul.menu li {
  margin-top: 1em;
  position: relative;
}
#m-end path,
#m-start {
  fill: red;
}
.node-label {
  font-size: 1.5em;
}
.link-label {
  fill: purple;
  transform: translate(0, 0.5em);
  font-size: 1.2em;
}

.test {
  border: 1px solid red;
}

.my-card {
  width: 100%;
  max-width: 350px;
  border: 2px solid #160c28;
}

.my-card-section {
  width: 100%;
  max-width: 350px;
}

.my-button {
  max-width: 300px;
}
</style>
