<template>
  <q-card>
    <modal-header data-cy="addTrainingSessionModal"
      >Add Training Session</modal-header
    >

    <q-form
      class="row wrap"
      ref="trainingSessionForm"
      @submit.prevent="submitTrainingSessionForm"
    >
      <q-card-section data-cy="modalTitle">
        <modal-title
          class="col"
          ref="modalTitle"
          :title.sync="trainingSessionToSubmit.title"
        ></modal-title>
        <!-- NOTE: the .sync property added to title listens to the emit event -->
        <div class="q-mb-sm" >
        <div class="row wrap">        
                      <div class="col">
              <div class="text-subtitle2">Date</div>
              <q-input filled v-model="trainingSessionToSubmit.date" mask="date" :rules="['date']">
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                      <q-date today-btn v-model="trainingSessionToSubmit.date"
                      @input="() => $refs.qDateProxy.hide()" />
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col q-ml-md">
              <div class="text-subtitle2 q-mb-lg">Duration (min)</div>
              <q-slider
                v-model="trainingSessionToSubmit.duration_minutes"
                :min="0"
                :max="240"
                :step="15"
                snap
                label
                label-always
                color="secondary"
              />
            </div>
        
        </div>        
            



          </div>
        </div>

        <!-- NOTE: General Notes Section -->
        <div class="q-mb-sm">
          <q-input
            label="General Training Session Notes"
            v-model="trainingSessionToSubmit.general_notes"
            filled
            autogrow
          />
        </div>
        <!-- NOTE: Type Selection -->
        <div>
          <!-- NOTE: I needed to wrap the toggle in a q-field component in order to validate it, fyi to myself for future.  -->
          <q-field
            :rules="[val => !!val || 'Field is required']"
            v-model="trainingSessionToSubmit.type"
            ref="sessionType"
          >
            <q-btn-toggle
              v-model="trainingSessionToSubmit.type"
              push
              rounded
              glossy
              toggle-color="secondary"
              class="q-mb-sm"
              :options="[
                { value: 'Gi', slot: 'one' },
                { value: 'Film Study', slot: 'two' },
                { value: 'No-Gi', slot: 'three' }
              ]"
            >
              <template v-slot:one>
                <div class="row items-center no-wrap">
                  <div class="text-center">
                    Type
                    <br />Gi
                  </div>
                  <q-icon data-cy="gi-icon" name="sports_kabaddi" right />
                </div>
              </template>

              <template v-slot:two>
                <div class="row items-center no-wrap">
                  <div class="text-center">
                    Type
                    <br />Film Study
                  </div>
                  <q-icon right name="movie" />
                </div>
              </template>

              <template v-slot:three>
                <div class="row items-center no-wrap">
                  <div class="text-center">
                    Type
                    <br />No-Gi
                  </div>
                  <q-icon color="primary" right name="sports_kabaddi" />
                </div>
              </template>
            </q-btn-toggle>
          </q-field>
        </div>

        <div v-if="isGiOrNoGi">
          <div class="q-mb-sm">
            <q-select
              filled
              v-model="trainingSessionToSubmit.gym"
              label="Gym"
              use-input
              use-chips
              input-debounce="0"
              @new-value="createGymValue"
              :options="gymFilterOptions"
              @filter="gymFilterFn"
            />          
          </div>

          <div class="q-mb-sm">
            <q-select
              filled
              v-model="trainingSessionToSubmit.instructor"
              label="Instructor"
              use-input
              use-chips
              input-debounce="0"
              @new-value="createInstructorValue"
              :options="instructorFilterOptions"
              @filter="instructorFilterFn"
            />
          </div>
          <div class="q-mb-sm">
            <q-select
              filled
              v-model="trainingSessionToSubmit.training_partner"
              label="Training Partner"
              use-input
              use-chips
              input-debounce="0"
              @new-value="createPartnerValue"
              :options="partnerFilterOptions"
              @filter="partnerFilterFn"
            />
          </div>
        </div>
      </div>


        <div class="q-mb-sm">
          <p>Add detailed technique and/or sparring notes (optional)</p>
          <q-btn
            @click="addTechniqueDetailedNote"
            class="q-mr-sm"
            rounded
            color="secondary"
            label="Technique"
          />
          <q-btn @click="addSparringRound" class="q-mr-sm" rounded color="primary" label="Sparring" />
        </div>
        <div v-if="hasTechniques" class="q-mb-sm">
          <p>Saved Detailed Techniques:</p>
          <div
            v-for="tech_note in trainingSessionToSubmit.detailed_tech_notes"
            class="q-mb-sm"
            :key="tech_note.id"
          >
            <q-btn-dropdown
              :technique="tech_note"
              color="primary"
              :label="tech_note.name"
              class="q-mr-sm q-mt-sm"
            >
              <q-list>
                <!-- TODO: Update this technique -->
                <q-item clickable v-close-popup @click="showEditTechnique">
                  <q-item-section>
                    <q-item-label>Edit this technique</q-item-label>
                  </q-item-section>
                </q-item>
                <!-- TODO: Update this technique -->
                <q-item clickable v-close-popup @click="deleteTechnique">
                  <q-item-section>
                    <q-item-label>Delete this technique</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
        </div>

        <modal-button></modal-button>
      </q-card-section>
    </q-form>
  </q-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import { date } from "quasar";
import { uid } from "quasar";
import mixinAddEditTrainingSession from "src/mixins/mixin-add-edit-training-session";

export default {
  mixins: [mixinAddEditTrainingSession],
  data() {
    return {
      trainingSessionToSubmit: {
        id: uid(),
        title: "",
        date: "",
        duration_minutes: 0,
        type: "",
        gym: "",
        gym_id: uid(),
        instructor: "",
        instructor_id: uid(),
        training_partner: "",
        training_partner_id: uid(),
        general_notes: "",
        detailed_tech_notes: {},
        detailed_sparring_notes: {},
        selected: false,
        matTime: 0,
        showAddScenario: true
      },
      partnerFilterOptions: this.partners,
      gymFilterOptions: this.gyms,
      instructorFilterOptions: this.instructors
    };
  },
  props: {
    detailedTechniquesToSubmit: {
      type: Object,
      default: {}
    },
    currentTechnique: {
      type: String,
      default: "taco"
    }
  },
  watch: {
    detailedTechniquesToSubmit: {
      deep: true,
      handler(newValue, oldValue) {
        this.$set(
          this.trainingSessionToSubmit.detailed_tech_notes,
          this.currentTechnique,
          newValue[this.currentTechnique]
        );
      }
    },
    trainingSessionToSubmit: {
      deep: true,
      handler(newValue, oldValue) {
        console.log("new trainingSessionToSubmit: %s, old trainingSessionToSubmit: %s", newValue, oldValue);
      }
    }
  },
  methods: {
    ...mapActions("partners", [
      "addPartner",
    ]),
    ...mapActions("gyms", [
      "addGym",
    ]),
    ...mapActions("instructors", [
      "addInstructor",
    ]),
    ...mapActions("scenarios_and_transitions", [
      "addScenario",
      "addTransition"
    ]),
    ...mapActions("training_sessions", ["addTrainingSession"]),
    ...mapActions("techniques", ["addTechnique"]),
    addTechniqueDetailedNote() {
      this.$emit(
        "add-detailed-technique-note",
        this.trainingSessionToSubmit.id
      );
    },
    addSparringRound() {
      console.log("Add sparring round before the emit")
      this.$emit(
        "add-sparring-round",
        this.trainingSessionToSubmit.id
      );
    },
    submitTrainingSessionForm() {
      let trainingSessionId = this.trainingSessionToSubmit;
      // NOTE: This was updated from simply being $refs.title w/the intro of
      // NOTE: the re-usable component.
      this.$refs.modalTitle.$refs.title.validate();

      this.$refs.sessionType.validate();
      // NOTE: If there is a datetime start & end for a training session then set a mat time property.
      this.trainingSessionToSubmit.matTime = this.matTime;

      // NOTE: An error gets thrown if the field is not valid
      if (
        !this.$refs.modalTitle.$refs.title.hasError &&
        !this.$refs.sessionType.hasError
      ) {


        if (!this.isEmpty(this.trainingSessionToSubmit.training_partner)) {
          // CHECK IF ITS A NEW OR EXISTING PARTNER
          // if it's a new partner add it to the collection. 
          // IF it's an existing partner set the id to this id
          let partner = {}

        

          partner.name = this.trainingSessionToSubmit.training_partner;
          partner.id = this.trainingSessionToSubmit.training_partner_id;

          console.log("PARTNER IS: ", partner)

          this.submitPartner(partner);
        }

        if (!this.isEmpty(this.trainingSessionToSubmit.gym)) {
          // CHECK IF ITS A NEW OR EXISTING GYM
          // if it's a new partner add it to the collection. 
          // IF it's an existing partner set the id to this id
          let gym = {}
          
          gym.name = this.trainingSessionToSubmit.gym;
          gym.id = this.trainingSessionToSubmit.gym_id;

          console.log("GYM IS: ", gym)

          this.submitGym(gym);
        }

        if (!this.isEmpty(this.trainingSessionToSubmit.instructor)) {
          // CHECK IF ITS A NEW OR EXISTING GYM
          // if it's a new partner add it to the collection. 
          // IF it's an existing partner set the id to this id
          let instructor = {}

        

          instructor.name = this.trainingSessionToSubmit.instructor;
          instructor.id = this.trainingSessionToSubmit.instructor_id;

          console.log("INSTRUCTOR IS: ", instructor)

          this.submitInstructor(instructor);
        }
    
        if (!this.isEmpty(this.trainingSessionToSubmit.detailed_tech_notes)) {
          // console.log(
          //   "Detailed Tech Notes are: ",
          //   this.trainingSessionToSubmit.detailed_tech_notes
          // );

          // Looping through arrays created from Object.values
          const techniques = Object.values(
            this.trainingSessionToSubmit.detailed_tech_notes
          );
          for (const technique of techniques) {
            // console.log("technique is: ", technique);

            this.submitTechnique(technique);

            const scenarios = Object.values(technique.scenarios);

            scenarios.forEach(arrayItem => {
              var scenario = arrayItem;
              // console.log("scenario is: ", scenario)
              this.submitScenario(scenario);
              var scenarioName = scenario.name;
              // console.log("scenarioName is: ", scenarioName);
            });

            this.addNewObjects = function(arr) {
              arr.forEach(function(obj) {
                this.addObject(new Obj(obj.prop1, obj.prop2));
              }, this);
            };

            const transitions = Object.values(technique.transitions);

            transitions.forEach(arrayItem => {
              var transition = arrayItem;
              // console.log("transition is: ", transition)
              this.submitTransition(transition);
              var transitionName = transition.name;
              // console.log("transitionName is: ", transitionName);
            });
          }
        }

        this.submitTrainingSession();
      }
    },
    submitTrainingSession() {
      this.addTrainingSession(this.trainingSessionToSubmit);
      this.$emit("close");
    },
    submitTechnique(technique) {
      this.addTechnique(technique);
    },
    submitScenario(scenario) {
      // console.log("trying to add this scenario: ", scenario)
      this.addScenario(scenario);
    },
    submitTransition(transition) {
      // console.log("trying to add this transition: ", transition)
      this.addTransition(transition);
    },
    submitPartner(partner) {
      console.log("trying to add this partner: ", partner)
      this.addPartner(partner);
    },
    submitGym(gym) {
      console.log("trying to add this gym: ", gym)
      this.addGym(gym);
    },
    submitInstructor(instructor) {
      console.log("trying to add this instructor: ", instructor)
      this.addInstructor(instructor);
    },
    isEmpty(obj) {
      for (var key in obj) {
        if (obj.hasOwnProperty(key)) return false;
      }
      return true;
    },
    showEditTechnique() {},
    deleteTechnique() {},
    createPartnerValue(val, done) {
      // Calling done(var) when new-value-mode is not set or "add", or done(var, "add") adds "var" content to the model
      // and it resets the input textbox to empty string
      // ----
      // Calling done(var) when new-value-mode is "add-unique", or done(var, "add-unique") adds "var" content to the model
      // only if is not already set
      // and it resets the input textbox to empty string
      // ----
      // Calling done(var) when new-value-mode is "toggle", or done(var, "toggle") toggles the model with "var" content
      // (adds to model if not already in the model, removes from model if already has it)
      // and it resets the input textbox to empty string
      // ----
      // If "var" content is undefined/null, then it doesn't tampers with the model
      // and only resets the input textbox to empty string

      if (val.length > 0) {
        console.log("IN CREATE VALUE, partnersArray is: ", this.partnersArray)
        if (!this.partnersArray.includes(val)) {
          this.partnersArray.push(val);
        }
        done(val, "toggle");
      }
    },
    createGymValue(val, done) {
      // Calling done(var) when new-value-mode is not set or "add", or done(var, "add") adds "var" content to the model
      // and it resets the input textbox to empty string
      // ----
      // Calling done(var) when new-value-mode is "add-unique", or done(var, "add-unique") adds "var" content to the model
      // only if is not already set
      // and it resets the input textbox to empty string
      // ----
      // Calling done(var) when new-value-mode is "toggle", or done(var, "toggle") toggles the model with "var" content
      // (adds to model if not already in the model, removes from model if already has it)
      // and it resets the input textbox to empty string
      // ----
      // If "var" content is undefined/null, then it doesn't tampers with the model
      // and only resets the input textbox to empty string

      if (val.length > 0) {
        console.log("IN CREATE VALUE, gymArray is: ", this.gymsArray)
        if (!this.gymsArray.includes(val)) {
          this.gymsArray.push(val);
        }
        done(val, "toggle");
      }
    },
    createInstructorValue(val, done) {
      // Calling done(var) when new-value-mode is not set or "add", or done(var, "add") adds "var" content to the model
      // and it resets the input textbox to empty string
      // ----
      // Calling done(var) when new-value-mode is "add-unique", or done(var, "add-unique") adds "var" content to the model
      // only if is not already set
      // and it resets the input textbox to empty string
      // ----
      // Calling done(var) when new-value-mode is "toggle", or done(var, "toggle") toggles the model with "var" content
      // (adds to model if not already in the model, removes from model if already has it)
      // and it resets the input textbox to empty string
      // ----
      // If "var" content is undefined/null, then it doesn't tampers with the model
      // and only resets the input textbox to empty string

      if (val.length > 0) {
        console.log("IN CREATE VALUE, instructorArray is: ", this.instructorsArray)
        if (!this.instructorsArray.includes(val)) {
          this.instructorsArray.push(val);
        }
        done(val, "toggle");
      }
    },
    partnerFilterFn(val, update) {
      update(() => {
        console.log("IN partnerFilterFn, this.partnersArray is: ", this.partnersArray)
        console.log("IN partnerFilterFn, val is: ", val)


        if (val === "") {
          this.partnerFilterOptions = this.partnersArray;
        } else {
          const needle = val.toLowerCase();
          console.log("IN partnerFilterFn, needle is: ", needle)
          this.partnerFilterOptions = this.partnersArray.filter(
            v => v.toLowerCase().indexOf(needle) > -1
          );
        }
      });
    },
    gymFilterFn(val, update) {
      update(() => {
        console.log("IN gymFilterFn, this.gymsArray is: ", this.gymsArray)
        console.log("IN gymFilterFn, val is: ", val)


        if (val === "") {
          this.gymFilterOptions = this.gymsArray;
        } else {
          const needle = val.toLowerCase();
          console.log("IN gymFilterFn, needle is: ", needle)
          this.gymFilterOptions = this.gymsArray.filter(
            v => v.toLowerCase().indexOf(needle) > -1
          );
        }
      });
    },
    instructorFilterFn(val, update) {
      update(() => {
        console.log("IN instructorFilterFn, this.instructorsArray is: ", this.instructorsArray)
        console.log("IN instructorFilterFn, val is: ", val)


        if (val === "") {
          this.instructorFilterOptions = this.instructorsArray;
        } else {
          const needle = val.toLowerCase();
          console.log("IN instructorFilterFn, needle is: ", needle)
          this.instructorFilterOptions = this.instructorsArray.filter(
            v => v.toLowerCase().indexOf(needle) > -1
          );
        }
      });
    }
  },
  computed: {
    ...mapGetters("partners", ["allPartners"]),
    ...mapGetters("gyms", ["allGyms"]),
    ...mapGetters("instructors", ["allInstructors"]),
    partnersArray() {
      console.log("in partnersArray, this.allPartners is: ", this.allPartners)

      // This makes a copy of the scenarios on state for the graph
      let partnersCopy = JSON.parse(
        JSON.stringify(Object.keys(this.allPartners).map(i => 
        this.allPartners[i].name))
      );

      console.log("in partnersCopy, partnersCopy is: ", partnersCopy)

      return partnersCopy;
    },
    gymsArray() {
      console.log("in gymsArray, this.allPartners is: ", this.allGyms)

      let gymsCopy = JSON.parse(
        JSON.stringify(Object.keys(this.allGyms).map(i => 
        this.allGyms[i].name))
      );

      console.log("in gymsCopy, gymsCopy is: ", gymsCopy)

      return gymsCopy;
    },
    instructorsArray() {
      console.log("in instructorsArray, this.allPartners is: ", this.allInstructors)

      let instructorsCopy = JSON.parse(
        JSON.stringify(Object.keys(this.allInstructors).map(i => 
        this.allInstructors[i].name))
      );

      console.log("in instructorsCopy, instructorsCopy is: ", instructorsCopy)

      return instructorsCopy;
    },
    hasTechniques() {
      return !this.isEmpty(this.detailedTechniquesToSubmit);
    },
    isGiOrNoGi() {
      console.log("here!", this.trainingSessionToSubmit);
      return (
        this.trainingSessionToSubmit.type === "Gi" ||
        this.trainingSessionToSubmit.type === "No-Gi"
      );
    },
    matTime() {
      // NOTE: Set a matTime only if the session type is Gi

      let diff = 0;
      if (
        this.trainingSessionToSubmit.type !== "Film Study" &&
        this.trainingSessionToSubmit.duration_minutes > 0
      ) {

        diff = this.trainingSessionToSubmit.duration_minutes;

        return diff / 60;
      }

      return diff;
    }
  }
};
</script>

<style></style>
