<template>
  <q-card data-cy="edit-training-session-card">
    <modal-header>Edit Training Session</modal-header>

    <q-form class="row wrap" @submit.prevent="submitTrainingSessionForm">
      <q-card-section>
        <!-- NOTE: the .sync property added to title listens to the emit event -->
        <modal-title
          ref="modalTitle"
          :title.sync="trainingSessionToSubmit.title"
        ></modal-title>
        <!-- NOTE: Type Selection -->
        <div>
          <q-field
            :rules="[val => !!val || 'Field is required']"
            v-model="trainingSessionToSubmit.type"
            ref="sessionType"
          >
            <q-btn-toggle
              v-model="trainingSessionToSubmit.type"
              push
              rounded
              glossy
              toggle-color="secondary"
              class="q-mb-sm"
              :options="[
                { value: 'Gi', slot: 'one' },
                { value: 'Film Study', slot: 'two' },
                { value: 'No-Gi', slot: 'three' }
              ]"
            >
              <template v-slot:one>
                <div class="row items-center no-wrap">
                  <div class="text-center">
                    Type
                    <br />Gi
                  </div>
                  <q-icon name="sports_kabaddi" right />
                </div>
              </template>

              <template v-slot:two>
                <div class="row items-center no-wrap">
                  <div class="text-center">
                    Type
                    <br />Film Study
                  </div>
                  <q-icon right name="movie" />
                </div>
              </template>

              <template v-slot:three>
                <div class="row items-center no-wrap">
                  <div class="text-center">
                    Type
                    <br />No-Gi
                  </div>
                  <q-icon color="primary" right name="sports_kabaddi" />
                </div>
              </template>
            </q-btn-toggle>
          </q-field>
        </div>
        <div class="q-mb-sm">
          <q-datetime-picker
            mode="datetime"
            label="Start of Training Session"
            v-model="trainingSessionToSubmit.datetimeStart"
            icon="date_range"
          ></q-datetime-picker>
        </div>
        <div class="q-mb-sm">
          <q-datetime-picker
            v-if="trainingSessionToSubmit.datetimeStart"
            mode="datetime"
            label="End of Training Session"
            v-model="trainingSessionToSubmit.datetimeEnd"
            icon="date_range"
          ></q-datetime-picker>
        <!-- NOTE: General Notes Section -->

          <q-input
            label="General Training Session Notes"
            v-model="trainingSessionToSubmit.general_notes"
            filled
            autogrow
          />
        </div>

        <div v-if="isGiOrNoGi">
          <div class="q-mb-sm">
            <q-input
              class="col"
              outlined
              v-model="trainingSessionToSubmit.gym"
              ref="gym"
              label="Gym"
            />
          </div>
          <div class="q-mb-sm">
            <q-input
              class="col"
              outlined
              v-model="trainingSessionToSubmit.instructor"
              ref="instructor"
              label="Instructor"
            />
          </div>
          <div class="q-b-sm">
            <q-input
              class="col"
              outlined
              v-model="trainingSessionToSubmit.training_partner"
              ref="training_partner"
              label="Training Partner"
            />
          </div>
        </div>

        <div class="q-mb-sm">
          <p>Add detailed technique and/or sparring notes (optional)</p>
          <q-btn
            @click="addTechniqueDetailedNote"
            class="q-mr-sm"
            rounded
            color="secondary"
            label="Technique"
          />
          <q-btn rounded color="primary" label="Sparring" />
        </div>

        <div
          v-if="Object.keys(trainingSessionToSubmit.detailed_tech_notes).length"
          class="q-mb-sm"
        >
          <p>Saved Detailed Techniques:</p>
          <div
            v-for="tech_note in trainingSessionToSubmit.detailed_tech_notes"
            class="q-mb-sm"
            :key="tech_note.id"
          >
            <q-btn-dropdown
              data-cy="technique-title"
              :technique="tech_note"
              color="primary"
              :label="tech_note.title"
              class="q-mr-sm q-mt-sm"
            >
              <q-list>
                <!-- TODO: Update this technique -->
                <q-item
                  data-cy="edit-technique-button"
                  clickable
                  v-close-popup
                  @click="showEditTechnique(tech_note, trainingSessionToSubmit)"
                >
                  <q-item-section>
                    <q-item-label>Edit this technique</q-item-label>
                  </q-item-section>
                </q-item>
                <!-- TODO: Update this technique -->
                <q-item
                  clickable
                  v-close-popup
                  @click="deleteTechnique(tech_note)"
                >
                  <q-item-section>
                    <q-item-label>Delete this technique</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
        </div>

        <modal-button></modal-button>
      </q-card-section>
    </q-form>

        <q-dialog
      persistent
      transition-show="scale"
      transition-hide="scale"
      v-model="addDetailedTechNoteModal"
    >
      <add-detailed-tech-note
        :parentTrainingSession="trainingSessionToSubmit"
        @add-tech-note="submitDetailedTechniqueNote"
      />
    </q-dialog>
  </q-card>
</template>

<script>
import { mapActions } from "vuex";
import { date } from "quasar";

import mixinAddEditTrainingSession from "src/mixins/mixin-add-edit-training-session";


export default {
  mixins: [mixinAddEditTrainingSession],

  props: ["training-session", "id"],
  data() {
    return {
      trainingSessionToSubmit: {
        title: "",
        datetimeStart: "",
        datetimeEnd: "",
        type: "",
        gym: "",
        instructor: "",
        training_partner: "",
        general_notes: "",
        detailed_tech_notes: [],
        detailed_sparring_notes: [],
        selected: false,
        matTime: 0,
        showAddScenario: true
      },
      addDetailedTechNoteModal: false,
    };
  },
    components: {
    "add-detailed-tech-note": require("components/TrainingSessions/Modals/AddDetailedTechNote.vue")
      .default,
  },
  methods: {
    ...mapActions("training_sessions", ["updateTrainingSession"]),
    deleteTechnique(tech_note) {
      console.log("delete clickety");
      this.$q
        .dialog({
          title: "Confirm",
          message: "Are you sure you want to delete this technique? Scenarios/transitions associated with this technique will also be deleted.",
          ok: {
            push: true,
            color: "primary"
          },
          cancel: {
            push: true,
            color: "secondary"
          },
          persistent: true
        })
        .onOk(() => {
          // NOTE: DELETE THE TECHNIQUE FROM TRAINING SESSION DOCUMENT
          // * DELETE THE SCENARIOS/TRANSITIONS DOCUMENTS IN THE DELETED TECHNIQUE FROM THE SCENARIOS_AND_TRANSITIONS COLLECTION
          // Loop through the scenarios & call deleteScenario from the store on each one
          // Loop through the transitiosn & call deleteTransition from the store on each one
          // Close this edit training session modal 
          // Open the updated training session card with the hopefully now deleted trainign session! 
          this.deleteTechnique(tech_note);
          console.log("TRYIN GO DELETE A TECHNIQUE, MADE IT TO THE PROMPT")
        });
    },
    showEditTechnique(tech_note, trainingSessionToSubmit) {
      console.log("Edit this technique: ", tech_note);
      console.log("In this parent: ", trainingSessionToSubmit);
      this.$emit("edit-detailed-technique-note", {
        tech_note: tech_note,
        parentTrainingSession: trainingSessionToSubmit
      });
    },
    addTechniqueDetailedNote() {
      // this.$emit(
      //   "add-detailed-technique-note",
      //   this.trainingSessionToSubmit.id
      // );
      this.addDetailedTechNoteModal = true
    },
    submitTrainingSession() {
      // console.log("this.trainingSessionToSubmit", this.trainingSessionToSubmit);

      // NOTE: Automatically update older entries by editing them
      // if (isNaN(this.trainingSessionToSubmit.matTime) === true) {
      this.trainingSessionToSubmit.matTime = this.matTime;
      // }

      // NOTE: Validate again just in case
      this.$refs.modalTitle.$refs.title.validate();

      this.$refs.sessionType.validate();

      // NOTE: An error gets thrown if the field is not valid
      if (
        !this.$refs.modalTitle.$refs.title.hasError &&
        !this.$refs.sessionType.hasError
      ) {
        console.log("trying to update a training session's technique!!!");
        this.updateTrainingSession({
          id: this.id,
          updates: this.trainingSessionToSubmit
        });
        this.$emit("close");
      }
    }, 
    submitDetailedTechniqueNote() {
      console.log("Getting there! ")
    }
  },
  mounted() {
    this.trainingSessionToSubmit = Object.assign({}, this.trainingSession);
  },
  computed: {
    matTime() {
      // NOTE: Set a matTime only if the session type is Gi

      let diff = 0;
      if (
        this.trainingSessionToSubmit.type !== "Film Study" &&
        this.trainingSessionToSubmit.datetimeStart &&
        this.trainingSessionToSubmit.datetimeEnd
      ) {
        let unit = "minutes";

        diff = date.getDateDiff(
          this.trainingSessionToSubmit.datetimeEnd,
          this.trainingSessionToSubmit.datetimeStart,
          unit
        );

        return diff / 60;
      }

      return diff;
    },
    isGiOrNoGi() {
      console.log("here!", this.trainingSessionToSubmit);
      return (
        this.trainingSessionToSubmit.type === "Gi" ||
        this.trainingSessionToSubmit.type === "No-Gi"
      );
    }
  }
};
</script>

<style></style>
