<template>
  <q-card-section class="q-pa-md row items-start q-gutter-md">
    <q-card data-cy="edit-technique-card" class="my-card" flat bordered>
      <modal-header>Edit Technique</modal-header>

      <q-form class="row wrap" @submit.prevent="submitDetailedTechNoteForm">
        <q-card-section class="row wrap">
          <!-- NOTE: the .sync property added to title listens to the emit event -->
          <modal-title
            ref="modalTitle"
            :title.sync="detailedTechNoteToSubmit.title"
          ></modal-title
          >\
        </q-card-section>

        <!-- NOTE: ADD A SCENARIO -->
        <q-card-section class="my-card-section q-mb-sm" v-if="showAddScenario || nodesArray.length === 0">
          <p
            v-if="
              nodesArray.length === 0
            "
          >
            Add a starting scenario:
          </p>
          <p
            v-if="
              nodesArray.length > 0 &&
                (showAddScenario || nodesArray.length === 0)
            "
          >
            Add a new transition and scenario:
          </p>

          <add-scenario
            @add-scenario-note="addScenarioNote"
            @add-transition-note="addTransitionNote"
            :parentTechnique="detailedTechNoteToSubmit.id"
            :scenarios="nodesArray"
            :transitions="transitionsArray"
            :addTransition="showAddTransition"
            @close="showAddScenario = false"
          ></add-scenario>
        </q-card-section>

        <!-- NOTE: Edit A SCENARIO -->
        <q-card-section class="my-card-section q-mb-sm" v-if="showEditScenario">
          <edit-scenario
            :scenario="this.currentScenario"
            @close="showEditScenario = false"
          ></edit-scenario>
        </q-card-section>

        <q-card-section
          v-if="Object.keys(detailedTechNoteToSubmit.scenarios).length"
          class="my-card-section q-mb-sm"
        >
          <p>Saved Scenarios:</p>
          <div>
            <q-btn-dropdown
              v-for="(scenario, key) in detailedTechNoteToSubmit.scenarios"
              :key="scenario.id"
              :scenario="scenario"
              :id="key"
              color="primary"
              :label="scenario.name"
              class="my-button ellipsis q-mr-sm q-mt-sm"
            >
              <q-list>
                <q-item
                  clickable
                  v-close-popup
                  @click="addAScenario(scenario.id)"
                >
                  <q-item-section>
                    <q-item-label>Add a scenario</q-item-label>
                  </q-item-section>
                </q-item>
                <!-- TODO: Update this method -->
                <q-item
                  clickable
                  v-close-popup
                  @click="editAScenario(scenario)"
                >
                  <q-item-section>
                    <q-item-label>Edit this scenario</q-item-label>
                  </q-item-section>
                </q-item>
                <!-- TODO: Update this method -->
                <q-item
                  clickable
                  v-close-popup
                  @click="showDeleteScenario(scenario)"
                >
                  <q-item-section>
                    <q-item-label>Delete this scenario</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
        </q-card-section>

        <q-card-section v-if="nodesArray.length !== 0" class="my-card-section q-mt-md">
          <d3-network
            class="bg-red-1"
            :net-nodes="nodesArray"
            :net-links="transitionsArray"
            :options="options"
          />
          <modal-button></modal-button>
        </q-card-section>
      </q-form>
    </q-card>
  </q-card-section>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { uid } from "quasar";
import cloneDeep from "lodash/cloneDeep";

// NOTE: OMG this is where the re-usable modal-header and modal-button are coming from!
import mixinAddEditTrainingSession from "src/mixins/mixin-add-edit-training-session";
import D3Network from "vue-d3-network";

export default {
  components: {
    D3Network,
    "add-scenario": require("components/TrainingSessions/AddScenario.vue")
      .default,
    "edit-scenario": require("components/TrainingSessions/EditScenario.vue")
      .default
  },
  mixins: [mixinAddEditTrainingSession],

  props: ["technique", "parentTrainingSession"],
  data() {
    return {
      detailedTechNoteToSubmit: {
        title: "",
        general_notes: "",
        id: "",
        selected: false,
        scenarios: {},
        transitions: {}
      },
      currentTrainingSession: {
        datetimeEnd: "",
        datetimeStart: "",
        detailed_sparring_notes: {},
        detailed_tech_notes: {},
        general_notes: "",
        gym: "",
        id: "",
        instructor: "",
        matTime: null,
        selected: false,
        title: "",
        training_partner: "",
        type: ""
      },
      currentScenario: "",
      nodeSize: 15,
      canvas: false,
      showAddScenario: false,
      showAddTransition: false,
      showEditScenario: false
    };
  },
  computed: {
    ...mapGetters("scenarios_and_transitions", [
      "scenariosByTrainingSessionId",
      "newScenarioId",
      "previousScenarioId",
      "transitions"
    ]),
    nodesArray() {
      // This makes a copy of the scenarios on state for the graph
      let nodeCopy = JSON.parse(
        JSON.stringify(
          Object.keys(this.detailedTechNoteToSubmit.scenarios).map(
            i => this.detailedTechNoteToSubmit.scenarios[i],
            this.detailedTechNoteToSubmit.scenarios[i]._size = 6
          )
        )
      );
      return nodeCopy;
    },
    transitionsArray() {
      // This makes a copy of the scenarios on state for the graph
      let transitionsCopy = JSON.parse(
        JSON.stringify(
          Object.keys(this.detailedTechNoteToSubmit.transitions).map(
            i => this.detailedTechNoteToSubmit.transitions[i]
          )
        )
      );
      return transitionsCopy;
    },
    options() {
      return {
        force: 3000,
        size: { w: 300, h: 300 },
        nodeSize: this.nodeSize,
        nodeLabels: true,
        linkLabels: true,
        canvas: this.canvas,
        linkWidth: 5
      };
    }
  },
  methods: {
    ...mapActions("scenarios_and_transitions", ["updatePreviousScenario", "deleteScenario"]),
    ...mapActions("training_sessions", ["updateTrainingSession"]),
    addAScenario(id) {
      this.showAddScenario = true;
      this.showAddTransition = true;
      this.updatePreviousScenario(id);
    },
    addScenarioNote(scenario) {
      this.$set(this.detailedTechNoteToSubmit.scenarios, scenario.id, scenario);
    },
    // NOTE: LEft off here
    deleteScenarioNote(scenario) {
      // I think I want to delete the scenario from the scenario document 
      // * and then just update the parent training session document
      this.$delete(this.detailedTechNoteToSubmit.scenarios, scenario.id);
      this.submitDetailedTechNoteForm();
    },
    addTransitionNote(transition) {
      this.$set(
        this.detailedTechNoteToSubmit.transitions,
        transition.id,
        transition
      );
      this.submitDetailedTechNoteForm();
    },
    editAScenario(scenario) {
      console.log("Edit this scenario: ", scenario);
      this.currentScenario = scenario;
      console.log("currentScenario : ", this.currentScenario);

      this.showEditScenario = true;
    },
    showDeleteScenario(scenario) {
      // NOTE: Check the scenario id.
      this.$q
        .dialog({
          title: "Confirm",
          message: `Are you sure you want to delete ${scenario.name}?`,
          ok: {
            push: true,
            color: "primary"
          },
          cancel: {
            push: true,
            color: "secondary"
          },
          persistent: true
        })
        .onOk(() => {
          // * Remove that scenario from the scenario table
          // * Check for an associated transtionInId in the transitions table and delete that too
          // * this.deleteScenario does both
          this.deleteScenario(scenario);
          // * Remove the scenario from the current technique that's being edited & update that parent training session.
          this.deleteScenarioNote(scenario);
        });

      console.log("Delete scenario clicked!");
    },
    /**
     * Dynamically sets a deeply nested value in an object.
     * Optionally "bores" a path to it if its undefined.
     * @function
     * @param {!object} obj  - The object which contains the value you want to change/set.
     * @param {!array} path  - The array representation of path to the value you want to change/set.
     * @param {!mixed} value - The value you want to set it to.
     * @param {boolean} setrecursively - If true, will set value of non-existing path as well.
     */
    submitDetailedTechNoteForm() {
      console.log(
        "this currentTrainingSession before edit: ",
        this.currentTrainingSession
      );

      console.log(
        "this currentTrainingSession before edit: ",
        this.detailedTechNoteToSubmit
      );

      // NOTE: Replace the old "tech note" with the new one in the parent training session and then update the parent trainign session.

      this.currentTrainingSession.detailed_tech_notes[
        this.detailedTechNoteToSubmit.id
      ] = this.detailedTechNoteToSubmit;

      console.log(
        "this currentTrainingSession after edit: ",
        this.currentTrainingSession
      );
      this.updateTrainingSession({
        id: this.currentTrainingSession.id,
        updates: this.currentTrainingSession
      });
      this.$emit("confirm-edit-tech-note");
    }
  },
  mounted() {
    // this.detailedTechNoteToSubmit = Object.assign({}, this.technique);

    this.detailedTechNoteToSubmit = cloneDeep(this.technique);

    // this.currentTrainingSession = Object.assign({}, this.parentTrainingSession);

    this.currentTrainingSession = cloneDeep(this.parentTrainingSession);

    console.log(
      "mounted this.detailedTechNoteToSubmit : ",
      this.detailedTechNoteToSubmit
    );
  }
};
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 350px

.my-card-section
  width: 100%
  max-width: 350px

.my-button
  max-width: 300px
</style>
ß