<template>
  <q-card>
    <modal-header>{{trainingSessionToSubmit.title}}</modal-header>
    <training-session-card  @share-training-session="shareTrainingSession" @edit-training-session="showEditTrainingSession" @show-delete-training-session="showDeleteTrainingSession"  :training-session="trainingSessionToSubmit">

    </training-session-card>

  </q-card>
</template>

<script>
import { mapActions } from "vuex";
import mixinAddEditTrainingSession from "src/mixins/mixin-add-edit-training-session";


export default {
  mixins: [mixinAddEditTrainingSession],
  components: {
    "training-session-card": require("components/TrainingSessions/TrainingSessionCard.vue")
      .default
  },
  props: ["training-session", "id"],
  data () {
    return {
      trainingSessionToSubmit: {
        title: "",
        datetimeStart: "",
        datetimeEnd: "",
        type: "",
        gym: "",
        instructor: "",
        training_partner: "",
        general_notes: "",
        detailed_tech_notes: [],
        detailed_sparring_notes: [],
        selected: false,
        showAddScenario: true
      }
    };
  },
  methods: {
    ...mapActions("training_sessions", ["updateTrainingSession"]),
    shareTrainingSession () {
      console.log("HERE, i was emitted0")
      this.$emit("show-share-training-session");
    },
    showEditTrainingSession() {
      console.log("Click on edit training session")
      this.$emit("show-edit-training-session");    
    },
    showDeleteTrainingSession () {
      console.log("HERE, i was emitted 2")
      this.$emit("show-delete-training-session");
    },
  },
  mounted () {
    this.trainingSessionToSubmit = Object.assign({}, this.trainingSession);
  }
};
</script>

<style >
</style>
