<template>
  <div class="q-mb-sm">
    <!-- NOTE: Now that we are using a reusable component we can't use v-model -->
    <!-- NOTE: Instead use :value and pass down as a prop -->
    <!-- v-model="trainingSessionToSubmit.title" -->
    <q-input
      data-cy="modal-title"
      outlined
      autofocus
      v-select-all
      :value="title"
      @input="$emit('update:title', $event)"
      :rules="[val => !!val || 'Field is required']"
      ref="title"
      label="Title"
      class="col"
    />
  </div>
</template>
class="q-field__native q-placeholder">
<script>
import { selectAll } from "src/directives/directive-select-all";

export default {
  props: ["title"],
  // NOTE: Added a selectAll directive which looks for the DOM element, listens for a focus event
  // NOTE: & selects the whole field when selected.
  // NOTE: Made it global
  directives: {
    selectAll
  }
};
</script>

<style>
</style>
