<template>
  <q-card-section class="row no-wrap">
    <div class="text-h6">
      <slot></slot>
    </div>
    <q-space />
    <q-btn data-cy="modal-header-close-button" v-close-popup flat round dense icon="close" />
  </q-card-section>
</template>

<script>
export default {};
</script>

<style>
</style>
