<template>
  <q-card-actions align="right">
    <q-btn data-cy="confirm-modal-button" type="submit" label="Save" color="secondary" />
  </q-card-actions>
</template>

<script>
export default {};
</script>

<style>
</style>
