<template>
  <q-input
    @keyup.esc="searchField=''"
    v-select-all
    class="col"
    outlined
    v-model="searchField"
    label="Search"
  >
    <template v-slot:append>
      <q-icon
        v-if="searchField !== ''"
        name="close"
        @click="searchField = ''"
        class="cursor-pointer"
      />
      <q-icon name="search" />
    </template>
  </q-input>
</template>


<script>
import { mapState, mapActions } from "vuex";
import { selectAll } from "src/directives/directive-select-all";

export default {
  computed: {
    // NOTE: Using mapState instead of a getter b/c we don't need to manipulate state
    ...mapState("training_sessions", ["search"]),
    // NOTE: By default only a getter is called by the mapState but can be
    // NOTE: re-written to both get() and set() by using an object.
    // searchField() {
    //   return this.search;
    // }
    searchField: {
      get() {
        return this.search;
      },
      set(value) {
        this.setSearch(value);
      }
    }
  },
  directives: {
    selectAll
  },
  methods: {
    ...mapActions("training_sessions", ["setSearch"])
  }
};
</script>

<style>
</style>
