<template>
  <div>
    <q-select
      v-model="showThis"
      emit-value
      map-options
      :options="options"
      class="col q-ml-sm"
      filled
      label="Show"
      stack-label
    />
  </div>
</template>
  // NOTE: Added 'emit-value' & 'map-options' to this select component to display
  // NOTE: correct label.

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      options: [
        { label: "All", value: "all" },
        { label: "Gi", value: "Gi" },
        { label: "No-Gi", value: "No-Gi" },
        { label: "Film", value: "Film Study" }
      ]
    };
  },
  computed: {
    ...mapState("training_sessions", ["show"]),
    showThis: {
      get() {
        return this.show;
      },
      set(value) {
        this.setShow(value);
      }
    }
  },
  methods: {
    ...mapActions("training_sessions", ["setShow"])
  }
};
</script>

<style scoped>
.q-select {
  width: 112px;
}
</style>
