<template>
  <div>
    <q-select
      v-model="sortBy"
      :options="options"
      emit-value
      map-options
      class="col q-ml-sm"
      filled
      label="Sort by"  
      stack-label
    >

    </q-select>
  </div>
</template>
  // NOTE: Added 'emit-value' & 'map-options' to this select component to display
  // NOTE: correct label.

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      options: [
        { label: "Date", value: "date"},
        { label: "Oldest", value: "date-Reverse" },
        { label: "Title", value: "title" },
        { label: "Z-A", value: "title-Reverse" }
      ]
    };
  },
  computed: {
    ...mapState("training_sessions", ["sort", "direction"]),
    sortBy: {
      get() {
        return this.sort;
      },
      set(value) {
        // if it's a reverse direction just set the corresponding one and bam! 
        if (value === "date-Reverse") {
          this.setDirection("descending");
          this.setSort("date");
          
        } else if (value === "title-Reverse") {
          this.setDirection("ascending");
          this.setSort("title");
        } else if (value === "title") {
          this.setDirection("descending");
          this.setSort("title");
        } else {
        this.setDirection("ascending"); 
        this.setSort(value)   
        }  
      }
    }
  },
  methods: {
    // AH I think I need to set the direction HERE as a setDirection 
    ...mapActions("training_sessions", ["setSort", "setDirection"])
  }
};
</script>

<style scoped>
.q-select {
  width: 112px;
}
</style>
