<template>
  <q-page padding>
    <q-btn
      to="/"
      flat
      color="primary"
      icon="chevron_left"
      label="Back"
    />
    <h5>Techniques Graph</h5>
    <!-- <p>Here you will see a network graph of all scenarios entered as part of training sessions and how they relate to each other!</p> -->

    <q-card
      v-if="nodesArray.length"
      class="bg-primary my-card"
    >
      <q-card-section>
        <div class="q-mt-md">
          <d3-network
            class="bg-red-1"
            :net-nodes="nodesArray"
            :net-links="transitionsArray"
            :options="options"
          />
        </div>
      </q-card-section>

    </q-card>

    <div v-else>
      <no-scenarios class="q-mb-lg" />
    </div>

  </q-page>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import D3Network from "vue-d3-network";

export default {
  data () {
    return {
      nodeSize: 10,
      canvas: false,
    }
  },
  computed: {
    ...mapGetters("scenarios_and_transitions", [
      "scenarios",
      "transitions"
    ]),
    ...mapState("scenarios_and_transitions", ["search", "show", "scenariosDownloaded", "transitionsDownloaded"]),
    options () {
      return {
        force: 1000,
        size: { w: 350, h: 350 },
        nodeSize: this.nodeSize,
        nodeLabels: true,
        linkLabels: true,
        canvas: this.canvas,
        linkWidth: 5,
        offset: {
          x: -30,
          y: 30
        }
      }
    },
    nodesArray () {
      // This makes a copy of the scenarios on state for the graph
      let nodeCopy = JSON.parse(
        JSON.stringify(Object.keys(this.scenarios).map(i => this.scenarios[i]))
      );
      return nodeCopy;
    },
    transitionsArray () {
      // This makes a copy of the scenarios on state for the graph
      let transitionsCopy = JSON.parse(
        JSON.stringify(
          Object.keys(this.transitions).map(i => this.transitions[i])
        )
      );
      return transitionsCopy;
    }
  },
  components: {
    D3Network,
    "no-scenarios": require("components/TrainingSessions/NoScenarios.vue")
      .default,
  }
};
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 350px

.my-card-section
  width: 100%
  max-width: 350px

.my-button
  max-width: 300px
</style>
