<template>
  <q-page>
    <div class="q-pa-md absolute full-width full-height column">
      <template v-if="trainingSessionsDownloaded">
        <!-- NOTE: The class above allows the scroll-area to work properly -->
        <div class="row q-mb-lg">
          <search></search>
          <show></show>
          <sort></sort>
        </div>

        <p v-if="search && !Object.keys(trainingSessions).length">
          No search results.
        </p>

        <q-scroll-area
          data-cy="training-sessions-scroll-area"
          class="q-scroll-area-training-sessions"
        >
          <no-training-sessions
            class="q-mb-lg"
            v-if="!Object.keys(trainingSessions).length"
          />

          <all-training-sessions
            @add-detailed-technique-note="addDetailedTechniqueNote"
            @add-sparring-round="addSparringRound"
            @finish-edit-detailed-technique-note="
              finishEditDetailedTechniqueNote
            "
            @edit-detailed-technique-note="editDetailedTechniqueNote"
            class="q-mb-lg"
            v-if="this.show === 'all'"
            :allTrainingSessions="trainingSessions"
            :editTechniqueConfirmed="techniqueEditConfirmed"
          />

          <training-sessions-gi
            class="q-mb-lg"
            v-if="this.show === 'Gi'"
            :trainingSessionsGi="trainingSessionsGi"
          />

          <training-sessions-no-gi
            class="q-mb-lg"
            v-if="this.show === 'No-Gi'"
            :trainingSessionsNoGi="trainingSessionsNoGi"
          />

          <training-sessions-film-study
            class="q-mb-lg"
            v-if="this.show === 'Film Study'"
            :trainingSessionsFilmStudy="trainingSessionsFilmStudy"
          />
        </q-scroll-area>
      </template>

      <template v-else>
        <span class="absolute-center">
          <q-spinner color="primary" size="3em"> </q-spinner>
        </span>
      </template>

      <!-- NOTE: no-pointer-events allows for elements scenarioed 'below' it to be clicked -->
      <div class="absolute-bottom text-center q-mb-lg no-pointer-events">
        <!-- NOTE: all-pointer-events allows for a child of above to be clicked on-->

        <q-btn
          @click="showAddTrainingSession = true"
          data-cy="addTrainingSession"
          round
          class="all-pointer-events"
          color="secondary"
          size="24px"
          icon="add"
        ></q-btn>
      </div>
    </div>

    <q-dialog
      persistent
      transition-show="slide-up"
      transition-hide="slide-down"
      v-model="showAddTrainingSession"
    >
      <add-training-session
        :detailedTechniquesToSubmit="detailedTechniquestoSubmit"
        :currentTechnique="currentTechnique"
        @close="showAddTrainingSession = false"
        @add-detailed-technique-note="addDetailedTechniqueNote"
        @add-sparring-round="addSparringRound"
        @edit-detailed-technique-note="editDetailedTechniqueNote"
      />
    </q-dialog>

    <q-dialog
      persistent
      transition-show="scale"
      transition-hide="scale"
      v-model="addDetailedTechNoteModal"
    >
      <add-detailed-tech-note
        :parentTrainingSession="currentTrainingSession"
        @add-tech-note="submitDetailedTechniqueNote"
      />
    </q-dialog>

    <q-dialog
      persistent
      transition-show="scale"
      transition-hide="scale"
      v-model="addSparringRoundModal"
    >
      <add-sparring-round
        :parentTrainingSession="currentTrainingSession"
        :techniques="allTechniques"
        @add-sparring-round="submitSparringRound"
      />
    </q-dialog>

    <q-dialog
      persistent
      transition-show="scale"
      transition-hide="scale"
      v-model="editDetailedTechNoteModal"
    >
      <edit-detailed-tech-note
        @add-technique="showAddTechniqueModal(currentTrainingSession)"
        ÷
        @edit-scenario="showEditScenarioModal"
        @close="editDetailedTechNoteModal = false"
        @confirm-edit-tech-note="handleConfirmEditTechNote"
        :parentTrainingSession="currentTrainingSession"
        :technique="this.currentTechnique"
        @add-tech-note="submitEditedTechNote(tech_note, parentTrainingSession)"
      />
    </q-dialog>

    <q-dialog
      persistent
      transition-show="scale"
      transition-hide="scale"
      v-model="editScenarioModal"
    >
    </q-dialog>
  </q-page>
</template>

<script>
import { mapGetters, mapState } from "vuex";

export default {
  data() {
    return {
      inception: false,
      addDetailedTechNoteModal: false,
      addSparringRoundModal: false,
      editDetailedTechNoteModal: false,
      editScenarioModal: false,
      addTechModal: false,
      showAddTrainingSession: false,
      detailedTechniquestoSubmit: {},
      currentTrainingSession: null,
      currentTechnique: "",
      currentScenario: "",
      techniqueEditConfirmed: false
    };
  },
  watch: {
    techniqueEditConfirmed: function(newVal, oldVal) {
      // watch it
      console.log("Prop changed: ", newVal, " | was: ", oldVal);
      // this.$emit("confirm-detailed-technique-note");
    }
  },
  computed: {
    ...mapGetters("training_sessions", [
      "trainingSessions",
      "trainingSessionsGi",
      "trainingSessionsNoGi",
      "trainingSessionsFilmStudy"
    ]),
    ...mapGetters("techniques", ["allTechniques"]),
    ...mapState("training_sessions", [
      "search",
      "show",
      "trainingSessionsDownloaded"
    ])
    // nodesArray() {
    //   // This makes a copy of the scenarios on state for the graph
    //   let nodeCopy = JSON.parse(
    //     JSON.stringify(
    //       Object.keys(this.currentTechnique.scenarios).map(
    //         i => this.currentTechnique.scenarios[i]
    //       )
    //     )
    //   );
    //   return nodeCopy;
    // },
    // transitionsArray() {
    //   // This makes a copy of the scenarios on state for the graph
    //   let transitionsCopy = JSON.parse(
    //     JSON.stringify(
    //       Object.keys(this.currentTechnique.transitions).map(
    //         i => this.currentTechnique.transitions[i]
    //       )
    //     )
    //   );
    //   return transitionsCopy;
    // }
  },
  mounted() {
    // NOTE: This is an example of how to use the global event bus, better to use Vuex store
    this.$root.$on("showAddTrainingSession", () => {
      this.showAddTrainingSession = true;
    });
  },
  components: {
    "add-detailed-tech-note": require("components/TrainingSessions/Modals/AddDetailedTechNote.vue")
      .default,
    "add-sparring-round": require("components/TrainingSessions/Modals/AddSparringRound.vue")
      .default,
    "edit-detailed-tech-note": require("components/TrainingSessions/Modals/EditDetailedTechNote.vue")
      .default,
    "add-training-session": require("components/TrainingSessions/Modals/AddTrainingSession.vue")
      .default,
    "all-training-sessions": require("components/TrainingSessions/AllTrainingSessions.vue")
      .default,
    "no-training-sessions": require("components/TrainingSessions/NoTrainingSessions.vue")
      .default,
    "training-sessions-gi": require("components/TrainingSessions/TrainingSessionsGi.vue")
      .default,
    "training-sessions-no-gi": require("components/TrainingSessions/TrainingSessionsNoGi.vue")
      .default,
    "training-sessions-film-study": require("components/TrainingSessions/TrainingSessionsFilmStudy.vue")
      .default,
    search: require("components/TrainingSessions/Tools/Search.vue").default,
    sort: require("components/TrainingSessions/Tools/Sort.vue").default,
    show: require("components/TrainingSessions/Tools/Show.vue").default
  },
  methods: {
    showEditScenarioModal(scenario) {
      this.editScenarioModal = true;
    },
    showAddTechniqueModal() {
      console.log("HEREEEYEYEY");
      this.addTechModal = true;
    },
    addDetailedTechniqueNote(trainingSession) {
      console.log("addDetailedTechniqueNote in PageTrainingSessions.vue");
      this.currentTrainingSession = trainingSession;
      console.log("trainingSession is: ", trainingSession);

      this.addDetailedTechNoteModal = true;
    },
    addSparringRound(trainingSession) {
      console.log("addSparringRound in PageTrainingSessions.vue");
      this.currentTrainingSession = trainingSession;
      console.log("trainingSession is: ", trainingSession);
      this.addSparringRoundModal = true;
    },
    editDetailedTechniqueNote(trainingSessionAndTechniqueObject) {
      console.log(
        "Editing Technique in PageTrainingSessions.vue: ",
        trainingSessionAndTechniqueObject.tech_note
      );
      this.currentTechnique = trainingSessionAndTechniqueObject.tech_note;
      console.log("this.currentTechnique is: ", this.currentTechnique);
      this.currentTrainingSession =
        trainingSessionAndTechniqueObject.parentTrainingSession;
      console.log(
        "this.currentTrainingSession is: ",
        trainingSessionAndTechniqueObject.currentTrainingSession
      );
      this.editDetailedTechNoteModal = true;
    },
    finishEditDetailedTechniqueNote() {
      console.log("HERE in finishEditDetailedTechniqueNote!!!");
      this.techniqueEditConfirmed = false;
    },
    handleConfirmEditTechNote() {
      console.log("HERE in PageTrainingSessions!!!");
      this.techniqueEditConfirmed = true;
      this.editDetailedTechNoteModal = false;
    },
    submitDetailedTechniqueNote(tech_note) {
      console.log("adding a tech_note!", tech_note);
      this.$set(this.detailedTechniquestoSubmit, tech_note.id, tech_note);
      this.currentTechnique = tech_note.id;
      this.addDetailedTechNoteModal = false;
    },
    submitSparringRound(sparrring_round) {
      console.log("adding a tech_note!", sparrring_round);
      this.$set(
        this.detailedTechniquestoSubmit,
        sparrring_round.id,
        sparrring_round
      );
      this.currentSparringRound = sparrring_round.id;
      this.addSparringRoundModal = false;
    },
    submitEditedTechNote(tech_note, parentTrainingSession) {
      console.log(
        "adding a tech_note from an edit!",
        tech_note,
        parentTrainingSession
      );
      // this.$set(this.detailedTechniquestoSubmit, tech_note.id, tech_note);
      // console.log(this.detailedTechniquestoSubmit)
      // this.currentTechnique = tech_note.id;
      // this.addDetailedTechNoteModal = false;
    }
  }
};
</script>

<style lang="scss">
.q-scroll-area-training-sessions {
  display: flex;
  flex-grow: 1;
}
</style>
