<template>
  <q-page padding>
    <q-btn to="/" flat color="primary" icon="chevron_left" label="Back" />
    <h5>Statistics</h5>

    <q-separator dark />

    <q-table
      title="Training Sessions"
      table-header-class="text-uppercase"
      :data="trainingSessionStats"
      :columns="columns"
      row-key="name"
      card-class="bg-purple-1 text-primary"
      color="secondary"
    />
  </q-page>
</template>

<script>
import { mapGetters, mapState } from "vuex";

export default {
  data() {
    return {
      columns: [
        {
          name: "desc",
          required: true,
          label: "Type",
          align: "left",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "total",
          align: "center",
          label: "total",
          field: "total",
          sortable: true
        },
        {
          name: "matTime",
          align: "center",
          label: "Mat Time",
          field: "matTime",
          sortable: true
        }
      ]
    };
  },
  computed: {
    ...mapGetters("training_sessions", [
      "trainingSessions",
      "trainingSessionsGi",
      "trainingSessionsNoGi",
      "trainingSessionsFilmStudy"
    ]),
    ...mapState("training_sessions", ["training_sessions"]),
    trainingSessionStats: {
      get() {
        var data = [
          {
            name: "Gi",
            total: this.numberOfGiTrainingSessions,
            matTime: this.hoursOfGiTraining
          },
          {
            name: "No-Gi",
            total: this.numberOfNoGiTrainingSessions,
            matTime: this.hoursOfNoGiTraining
          },
          {
            name: "Film Study",
            total: this.numberOfFilmStudyTrainingSessions,
            matTime: "N/A"
          },
          {
            name: "Total",
            total: this.numberOfTrainingSessions,
            matTime: this.hoursOfGiTraining + this.hoursOfNoGiTraining
          }
        ];

        return data;
      }
    },
    numberOfTrainingSessions: {
      get() {
        var size = Object.keys(this.training_sessions).length;

        return size;
      }
    },
    numberOfGiTrainingSessions: {
      get() {
        var size = Object.keys(this.trainingSessionsGi).length;

        return size;
      }
    },
    numberOfNoGiTrainingSessions: {
      get() {
        var size = Object.keys(this.trainingSessionsNoGi).length;

        return size;
      }
    },
    numberOfFilmStudyTrainingSessions: {
      get() {
        var size = Object.keys(this.trainingSessionsFilmStudy).length;

        return size;
      }
    },
    hoursOfGiTraining: {
      get() {
        let giTrainingHours = 0;
        if (this.numberOfGiTrainingSessions !== 0) {
          // Looping through arrays created from Object.values
          const giTrainingSessions = Object.values(this.trainingSessionsGi);
          console.log(giTrainingSessions);
          for (const giTrainingSession of giTrainingSessions) {
            // console.log("technique is: ", technique);

            // NOTE: If for whatever reason the session matTime is not a number then don't add it to the running total  Only session created prior to this entry in the database should have this I think.
            if (isNaN(giTrainingSession.matTime) === false) {
              giTrainingHours += giTrainingSession.matTime;
            }
          }
        }

        return giTrainingHours;
      }
    },
    hoursOfNoGiTraining: {
      get() {
        let noGiTrainingHours = 0;
        if (this.numberOfNoGiTrainingSessions !== 0) {
          // Looping through arrays created from Object.values
          const noGiTrainingSessions = Object.values(this.trainingSessionsNoGi);
          console.log(noGiTrainingSessions);
          for (const noGiTrainingSession of noGiTrainingSessions) {
            // console.log("technique is: ", technique);

            // NOTE: If for whatever reason the session matTime is not a number then don't add it to the running total  Only session created prior to this entry in the database should have this I think.
            if (isNaN(noGiTrainingSession.matTime) === false) {
              noGiTrainingHours += noGiTrainingSession.matTime;
            }
          }
        }

        return noGiTrainingHours;
      }
    }
  }
};
</script>

<style scoped>
.my-card {
  width: 100%;
  max-width: 250px;
}
</style>
