<template>
  <q-page padding>
    <q-btn to="/" flat color="primary" icon="chevron_left" label="Back" />
    <h5>Store</h5>
    <p>Coming Soon!</p>
    <p>Order a Jiujitsio journal!</p>
    <p>Jiujitsio journals are 5" x 7" and are custom designed to fit 6 training sessions, techniques, scenarios and/or sparring rounds per sheet. The perfect way to quickly take notes at the gym which easily transfer over to the app. Orders opening up soon.</p>
  </q-page>
</template>

<script>
export default {};
</script>

<style>
</style>
