<template>
  <q-page padding>
    <q-btn to="/settings" flat color="primary" icon="chevron_left" label="Back" />
    <h5>How to use Jiujitsio</h5>
    <p>Add a training session to get started.</p>
    <p>There are 3 types of training sessions: Gi, No-Gi & Film Study. Film Study training sessions do not get counted towards your total mat time.</p>
    <p>Change your belt & stripes in the settings page.</p>
  </q-page>
</template>

<script>
export default {};
</script>

<style>
</style>
