<template >
  <q-page padding>
    <q-list class="q-mb-md" bordered padding>
      <q-item-label header>Settings</q-item-label>
      <q-item tag="label" v-ripple>
        <q-item-section>
          <q-item-label>Show 12 hour time format</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-toggle color="blue" v-model="show12HourTimeFormat" />
        </q-item-section>
      </q-item>
      <q-item tag="label" v-ripple>
        <q-item-section>
          <q-item-label class="q-mb-sm">Belt Color & Number of Stripes</q-item-label>

          <div class="belt" :class="beltBgColor">
            <div class="stripe-container">
              <div v-for="(stripe, key) in settings.stripes" :key="key">
                <div class="stripe"></div>
              </div>
            </div>
          </div>
        </q-item-section>
        <q-item-section side>
          <q-select
            v-model="chooseBelt"
            emit-value
            map-options
            :options="belts"
            class="col q-ml-sm q-mb-sm"
            filled
            label="Color"
            stack-label
          />
          <q-select
            v-model="chooseStripes"
            emit-value
            map-options
            :options="stripes"
            class="col q-ml-sm"
            filled
            label="Stripes"
            stack-label
          />
        </q-item-section>
      </q-item>
    </q-list>

    <q-list bordered padding>
      <q-item-label header>More</q-item-label>

      <q-item to="/settings/help" tag="label" v-ripple>
        <q-item-section>
          <q-item-label>Help</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-icon name="chevron_right" />
        </q-item-section>
      </q-item>

      <q-item to="/devJournal" tag="label" v-ripple>
        <q-item-section>
          <q-item-label>Development Journal</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-icon name="chevron_right" />
        </q-item-section>
      </q-item>

      <q-item @click="visitOurWebsite" tag="label" v-ripple>
        <q-item-section>
          <q-item-label>Visit our website</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-icon name="chevron_right" />
        </q-item-section>
      </q-item>

      <q-item @click="emailUs" tag="label" v-ripple>
        <q-item-section>
          <q-item-label>Email Us</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-icon name="chevron_right" />
        </q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
// NOTE: openURL is a utility from quasar that allows us to open websites
// NOTE: using a device's native methods.
import { openURL } from "quasar";

export default {
  data() {
    return {
      belts: [
        { label: "White", value: "white" },
        { label: "Blue", value: "blue" },
        { label: "Purple", value: "purple" },
        { label: "Brown", value: "brown" },
        { label: "Black", value: "black" }
      ],
      stripes: [
        { label: "0", value: 0 },
        { label: "1", value: 1 },
        { label: "2", value: 2 },
        { label: "3", value: 3 },
        { label: "4", value: 4 }
      ]
    };
  },
  computed: {
    ...mapGetters("settings", ["settings"]),
    show12HourTimeFormat: {
      get() {
        return this.settings.show12HourTimeFormat;
      },
      set(value) {
        this.setShow12HourTimeFormat(value);
      }
    },
    chooseBelt: {
      get() {
        return this.settings.beltColor;
      },
      set(value) {
        this.setBeltColor(value);
      }
    },
    chooseStripes: {
      get() {
        return this.settings.stripes;
      },
      set(value) {
        this.setNumberOfStripes(value);
      }
    },
    beltBgColor() {
      if (this.settings.beltColor === "white") {
        return "bg-white";
      } else if (this.settings.beltColor === "blue") {
        return "bg-blue-10";
      } else if (this.settings.beltColor === "purple") {
        return "bg-purple-10";
      } else if (this.settings.beltColor === "brown") {
        return "bg-brown-10";
      } else if (this.settings.beltColor === "black") {
        return "bg-black";
      }
    }
  },
  methods: {
    ...mapActions("settings", [
      "setShow12HourTimeFormat",
      "setBeltColor",
      "setNumberOfStripes"
    ]),
    visitOurWebsite() {
      openURL("http://www.jiujitsio.com");
    },
    emailUs() {
      window.location.href =
        "mailto:ielvisd@gmail.com?subject=Jiujitsio Feedback";
    }
  }
};
</script>

<style scoped>
.q-select {
  width: 112px;
}

.belt {
  border: 2px solid black;
  width: auto;
  max-width: 300px;
  height: 24px;
}

.stripe-container {
  display: flex;
  width: 46px;
  height: 100%;
  margin-left: 65%;
  border: 1px solid black;
  background: black;
}

.stripe {
  width: 6px;
  height: 100%;
  margin-left: 4px;
  /* border: 1px solid black; */
  background: white;
}
</style>
