<template>
  <q-page padding>
    <q-btn to="/settings" flat color="primary" icon="chevron_left" label="Back" />
    <h5>Dev Journal</h5>
    <template>
      <q-card dark bordered class="bg-primary my-card">
        <q-card-section>
          <!-- Latest update -->
          <vue-timeline-update
            :date="new Date('2020-02-10')"
            title="v0.0.2 - First Stats"
            description="On the statistics page you can now find a table showing your total number of Gi, No-Gi, Film Study and No-Type training sessions. The next stat I'll look to add is the number of mat hours. I also fixed a bug which was preventing access to this dev blog page if you were not logged in.<br><br>

            Coming Soon: <br>
            More stats!  📈 <br>
            Training Sessions in chronological order (latest at top) by default 📆<br>
            Edit & Delete a Scenario 📝<br>
            Sparring Round Entries 🤼‍♂
            "
            thumbnail="/statics/dev-journal-images/stats.jpg"
            category="announcement"
            icon="code"
            color="purple"
          />

          <vue-timeline-update
            :date="new Date('2020-01-04')"
            title="v0.0.1 - Scenarios Graph"
            description="The scenarios graph is working in it's inital stage across training sessions now. The next thing I'm focused on is allowing you to choose from an existing scenario opening up the possibility of adding to scenario and linking scenarios across techniques. I'm also going to start adding the first set of statistics and open up other register/login options (Google, Twitter, etc.)"
            thumbnail="/statics/dev-journal-images/network.jpg"
            category="announcement"
            icon="code"
            color="blue"
          />

          <vue-timeline-update
            :date="new Date('2020-01-03')"
            title="v0.0.0 - Blast Off"
            description="This is the start of the jiujitsio dev journal! You can currently save a training session and have a few settings available. Soon you will see a network graph of all scenarios and be able to choose from existing scenarios. Stay tuned!"
            thumbnail="/statics/dev-journal-images/blast-off.jpg"
            category="announcement"
            icon="code"
            color="white"
            is-last
          />
        </q-card-section>
      </q-card>

      <!-- Yet another update -->
      <!-- <vue-timeline-update
        :date="new Date('2016-09-30')"
        title="v2.0.0 - Ghost in the Shell"
        description="Today I am thrilled to announce the release of Vue.js 2.0.0"
        thumbnail="/images/vuetimeline/ghost_in_the_shell.jpg"
        category="announcement"
        icon="code"
        color="white"
        is-last
      />-->
    </template>
  </q-page>
</template>

<script>
export default {};
</script>

<style>
.my-card {
  max-width: 800px;
  margin: 0 auto;
}
</style>
