<template>
  <q-card class="q-mb-sm">
    <q-form @submit="submitScenarioNoteForm" class="q-gutter-md">
      <q-card-section class="row no-wrap">
        <div class="text-h6">
          Add Scenario
        </div>
        <q-space />
        <q-btn v-if="scenarios.length" @click="cancelAddScenario" flat round dense icon="close" />
      </q-card-section>
      <!-- NOTE: Add section for links/transitions if there is at least one scenario -->
      <div v-if="scenarios.length && addTransition" class="bg-blue-1">
        <div class="q-mb-sm">
          <q-input
            label="Transition Name"
            v-model="transitionToSubmit.name"
            outlined
            ref="scenarioName"
          />
        </div>

        <div class="q-mb-sm">
          <q-input
            label="Transition Notes"
            v-model="transitionToSubmit.notes"
            filled
            autogrow
          />
        </div>
      </div>
      <!-- NOTE: End of links/transitions section-->

      <!-- NOTE: Start of add scenario name & notes section-->
      <div class="bg-green-2">
        <div class="q-mb-sm">
          <q-input
            label="Scenario Name"
            v-model="scenarioToSubmit.name"
            outlined
            :rules="[val => !!val || 'Field is required']"
            ref="scenarioName"
          />
        </div>

        <div class="q-mb-sm">
          <q-input
            label="Scenario Notes"
            v-model="scenarioToSubmit.notes"
            filled
            autogrow
          />
        </div>
      </div>
      <!-- NOTE: End of add scenario name & notes section-->

      <q-card-actions align="right">
        <q-btn type="submit" label="Save Scenario" color="primary" />
      </q-card-actions>
    </q-form>
  </q-card>
</template>

<script>
import mixinAddEditTrainingSession from "../../mixins/mixin-add-edit-training-session.js";
import { mapGetters, mapActions } from "vuex";
import { uid } from "quasar";

export default {
  mixins: [mixinAddEditTrainingSession],
  data() {
    return {
      scenarioToSubmit: {
        name: "",
        id: uid(),
        notes: "",
        _color: "green",
        selected: false,
        parentTechnique: this.parentTechnique, 
        transtionInId: ""
      },
      transitionToSubmit: {
        id: uid(),
        tid: "",
        sid: "",
        name: "",
        notes: "",
        _color: "green",
        selected: false,
        parentTechnique: this.parentTechnique
      }
    };
  },
  props: {
    scenarios: {
      type: Array,
      required: true
    },
    transitions: {
      type: Array,
      required: true
    },
    addTransition: {
      type: Boolean,
      default: false
    },
    parentTechnique: {
      type: String,
      default: ""
    }
  },
  computed: {
    ...mapGetters("scenarios_and_transitions", [
      "newScenarioId",
      "previousScenarioId", 
      "previousTransitionId" 
    ]),
    currentScenarioId() {
      return this.scenarioToSubmit.id;
    }, 
    currentTransitionID() { return this.transitionToSubmit.id }
  },
  methods: {
    // ...mapActions("scenarios_and_transitions", [
    //   "addScenario",
    //   "addTransition",
    //   "updateNewScenarioId"
    // ]),
    // NOTE: These 2 methods send the scenario/transition to the parent training session
    addScenarioNote(scenario) {
      this.$emit("add-scenario-note", scenario);
    },
    addTransitionNote(transition) {
      this.$emit("add-transition-note", transition);
    },
    submitScenarioNoteForm() {
      this.$refs.scenarioName.validate();
      if (!this.$refs.scenarioName.hasError) {
        this.submitScenarioNote();
      }
    },
    submitScenarioNote() {
      // await this.addScenario(this.scenarioToSubmit);
      console.log(
        "in submitScenarioNote, this.scenarioToSubmit is: ",
        this.scenarioToSubmit
      );

      this.addScenarioNote(this.scenarioToSubmit);

      console.log(
        "in submitScenarioNote, this.scenarios.length is: ",
        this.scenarios.length
      );

      if (this.scenarios.length >= 1) {
        // await this.addTransition(this.transitionToSubmit);
        // this.updateNewScenarioId(this.scenarioToSubmit.id);
        this.submitTransitionNote(
          this.previousScenarioId,
          this.currentScenarioId
        );
      }
      this.$emit("close");
    },
    submitTransitionNote(previousScenarioId, newScenarioId) {
      this.transitionToSubmit.tid = newScenarioId;
      this.transitionToSubmit.sid = previousScenarioId;
      this.scenarioToSubmit.transtionInId = this.transitionToSubmit.id

      // this.addTransition(this.transitionToSubmit);
      this.addTransitionNote(this.transitionToSubmit);
    },
    cancelAddScenario() {
      console.log("cancel button clicked in Add Scenario sub-modal");
      this.$emit("close");
    }
  }
};
</script>

<style></style>
