<template>
  <transition
    appear
    enter-active-class="animated zoomIn"
    leave-active-class="animated zoomOut"
  >
    <div v-if="Object.keys(allTrainingSessions).length">
      <list-header bgcolor="bg-primary">All Training Sessions</list-header>
      <q-list
        separator
        bordered
      >
        <!-- NOTE: Adjusted the v-for to use an object instead of an array for Firebase -->
        <!-- NOTE: Pass a key to acces the id insead of using session.id (array) -->
        <training-session
          @edit-detailed-technique-note-finished="finishEditTechnique"
          @add-tech-note="addTechnique(trainingSession)"
          @edit-detailed-technique-note="editTechnique"
          v-for="(trainingSession, key) in allTrainingSessions"
          :key="trainingSession.id"
          :trainingSession="trainingSession"
          :id="key"
          :confirmEditDetailedTechNote="techniqueUpdated"
        ></training-session>
      </q-list>
      <transition />
    </div>
  </transition>
</template>

<script>
export default {
  props: ["allTrainingSessions", "editTechniqueConfirmed"],
  watch: { 
    editTechniqueConfirmed: function(newVal, oldVal) { // watch it
      console.log('Prop in AllTrainignSessions changed: ', newVal, ' | was: ', oldVal)
      if (newVal === true) {
        this.techniqueUpdated = true
        console.log(' this.techniqueUpdated: ',  this.techniqueUpdated)
      }
    }
  },
  data () {
    return {
      techniqueUpdated: false
    };
  },
  components: {
    "list-header": require("components/Shared/ListHeader.vue").default,
    "training-session": require("components/TrainingSessions/TrainingSession.vue")
      .default
  },
  methods: {
    finishEditTechnique() {
      this.$emit("finish-edit-detailed-technique-note"); 
      this.techniqueUpdated = false     
    },
    editTechnique(trainingSessionAndTechniqueObject) {
      console.log("Editing this technique (in AllTrainingSessions.vue: ", trainingSessionAndTechniqueObject.tech_note)
      console.log("The parent is:  (in AllTrainingSessions.vue: ", trainingSessionAndTechniqueObject.parentTrainingSession)
      this.$emit("edit-detailed-technique-note", trainingSessionAndTechniqueObject);
    },
    addTechnique(trainingSession) {
      console.log("Add technique (in AllTrainingSessions.vue: trainignSession is: ", trainingSession)
      this.$emit("add-detailed-technique-note", trainingSession);
    }
  }
};
</script>

<style>
</style>
