<template>
    <q-card data-cy="edit-technique-card" class="my-card" flat bordered>
      <modal-header>Edit Scenario</modal-header>

      <q-form class="row wrap" @submit.prevent="submitDetailedTechNoteForm">
      
      <div class="full-width bg-green-2">
        <div class=" q-mb-sm">
          <q-input
            label="Scenario Name"
            v-model="scenario.name"
            outlined
            ref="scenarioName"
          />
        </div>

        <div class="q-mb-sm">
          <q-input
            label="Scenario Notes"
            v-model="scenario.notes"
            filled
            autogrow
          />
        </div>
      </div>
      </q-form>
    </q-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { uid } from "quasar";
import cloneDeep from "lodash/cloneDeep";

// NOTE: OMG this is where the re-usable modal-header and modal-button are coming from!
import mixinAddEditTrainingSession from "src/mixins/mixin-add-edit-training-session";
import D3Network from "vue-d3-network";

export default {
  components: {
    D3Network,
    "add-scenario": require("components/TrainingSessions/AddScenario.vue")
      .default
  },
  mixins: [mixinAddEditTrainingSession],

  props: ["scenario", "parentTechnique"],
  data() {
    return {
      scenarioToSubmit: {
        name: "",
        id: uid(),
        notes: "",
        _color: "green",
        selected: false,
        parentTechnique: this.parentTechnique
      },
      transitionToSubmit: {
        id: uid(),
        tid: this.currentScenarioId,
        sid: "previousScenarioId",
        name: "",
        notes: "",
        _color: "green",
        selected: false,
        parentTechnique: this.parentTechnique
      }
    };
  },
  computed: {
    ...mapGetters("scenarios_and_transitions", [
      "scenariosByTrainingSessionId",
      "newScenarioId",
      "previousScenarioId",
      "transitions"
    ]),
    nodesArray() {
      // This makes a copy of the scenarios on state for the graph
      let nodeCopy = JSON.parse(
        JSON.stringify(
          Object.keys(this.detailedTechNoteToSubmit.scenarios).map(
            i => this.detailedTechNoteToSubmit.scenarios[i]
          )
        )
      );
      return nodeCopy;
    },
    transitionsArray() {
      // This makes a copy of the scenarios on state for the graph
      let transitionsCopy = JSON.parse(
        JSON.stringify(
          Object.keys(this.detailedTechNoteToSubmit.transitions).map(
            i => this.detailedTechNoteToSubmit.transitions[i]
          )
        )
      );
      return transitionsCopy;
    },
    options() {
      return {
        force: 3000,
        size: { w: 300, h: 300 },
        nodeSize: this.nodeSize,
        nodeLabels: true,
        linkLabels: true,
        canvas: this.canvas,
        linkWidth: 5
      };
    }
  },
  methods: {
    ...mapActions("scenarios_and_transitions", ["updatePreviousScenario"]),
    ...mapActions("training_sessions", ["updateTrainingSession"]),
    addAScenario(id) {
      this.showAddScenario = true;
      this.showAddTransition = true;
      this.updatePreviousScenario(id);
    },
    addScenarioNote(scenario) {
      this.$set(this.detailedTechNoteToSubmit.scenarios, scenario.id, scenario);
    },
    addTransitionNote(transition) {
      this.$set(
        this.detailedTechNoteToSubmit.transitions,
        transition.id,
        transition
      );
      this.submitDetailedTechNoteForm();
    },
    deleteScenario() {
      console.log("Delete scenario clicked!");
    },
    /**
     * Dynamically sets a deeply nested value in an object.
     * Optionally "bores" a path to it if its undefined.
     * @function
     * @param {!object} obj  - The object which contains the value you want to change/set.
     * @param {!array} path  - The array representation of path to the value you want to change/set.
     * @param {!mixed} value - The value you want to set it to.
     * @param {boolean} setrecursively - If true, will set value of non-existing path as well.
     */
    submitDetailedTechNoteForm() {
      console.log(
        "this currentTrainingSession before edit: ",
        this.currentTrainingSession
      );

      console.log(
        "this currentTrainingSession before edit: ",
        this.detailedTechNoteToSubmit
      );

      // NOTE: Replace the old "tech note" with the new one in the parent training session and then update the parent trainign session.

      this.currentTrainingSession.detailed_tech_notes[
        this.detailedTechNoteToSubmit.id
      ] = this.detailedTechNoteToSubmit;

      console.log(
        "this currentTrainingSession after edit: ",
        this.currentTrainingSession
      );
      this.updateTrainingSession({
        id: this.currentTrainingSession.id,
        updates: this.currentTrainingSession
      });
      this.$emit("confirm-edit-tech-note");
    },
  cancelEditScenario() {
      console.log("cancel button clicked in Edit Scenario sub-modal");
      this.$emit("close");
    }
  },
  mounted() {
    console.log("this.scenario is: ", this.scenario)
    // this.detailedTechNoteToSubmit = Object.assign({}, this.technique);

    this.scenarioToSubmit = cloneDeep(this.scenario);

    // this.currentTrainingSession = Object.assign({}, this.parentTrainingSession);

    this.currentTrainingSession = cloneDeep(this.parentTrainingSession);

    console.log(
      "mounted this.scenarioToSubmit : ",
      this.scenarioToSubmit
    );
  }
};
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 350px

.my-card-section
  width: 100%
  max-width: 350px

.my-button
  max-width: 300px
</style>
