<template>
  <transition
    appear
    enter-active-class="animated zoomIn"
    leave-active-class="animated zoomOut"
  >
    <q-banner class="bg-grey-3">
      <template v-slot:avatar>
        <q-icon
          name="thumb_down"
          color="primary"
        />
      </template>
      You have no saved techniques. Add a technique to any training session to see your techniques map.
      <template v-slot:action>
        <!-- NOTE: $root.emit is a global event bus that Quasar
        NOTE: uses, can be listened to globally by any component-->
        <q-btn
          to="/"
          flat
          color="primary"
          label="Training Sessions"
        />
      </template>
    </q-banner>
  </transition>
</template>

<script>
export default {};
</script>

<style>
</style>
