<template>
  <div class="q-pa-md row items-start q-gutter-md">
    <q-card class="my-card" :class="bgColor" flat bordered>
      <q-img :src="bgImage" />

      <q-card-section>
        <div class="text-overline text-orange-9">
          {{ trainingSession.type }}
        </div>
        <div class="text-h5 q-mt-sm q-mb-xs">{{ trainingSession.title }}</div>
        <div class="text-caption text-grey">
          {{ trainingSession.general_notes }}
        </div>
      </q-card-section>

      <q-card-section>
        <p class="text-subtitle1 q-mt-sm q-mb-xs">Techniques</p>
        <q-list bordered>
          <q-item
            v-for="technique in trainingSession.detailed_tech_notes"
            :key="technique.id"
            class="q-my-sm"
            clickable
            v-ripple
          >
            <q-item-section>
              <q-item-label>{{ technique.title }}</q-item-label>
            </q-item-section>

            <q-item-section side>
              <q-icon name="visibility" color="primary" />
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>

      <q-card-actions>
        <q-btn flat color="dark" label="Share" @click="showShareTechnique" />
        <q-btn flat color="primary" label="Edit" @click="showEditTechnique" />
        <q-btn flat color="primary" label="Delete" @click="showDeletePrompt" />

        <q-space />

        <q-btn
          color="grey"
          round
          flat
          dense
          :icon="expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
          @click="expanded = !expanded"
        />
      </q-card-actions>

      <q-slide-transition>
        <div v-show="expanded">
          <q-separator />
          <q-card-section class="text-subitle2">
            Gym:
            {{ trainingSession.gym }}
          </q-card-section>
          <q-card-section class="text-subitle2">
            Instructor:
            {{ trainingSession.instructor }}
          </q-card-section>
          <q-card-section class="text-subitle2">
            Training partner:
            {{ trainingSession.training_partner }}
          </q-card-section>
        </div>
      </q-slide-transition>
    </q-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      expanded: false,
      lorem:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    };
  },
  props: {
    trainingSession: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    bgColor() {
      if (this.trainingSession.type === "Gi") {
        return "bg-pink-1";
      } else if (this.trainingSession.type === "No-Gi") {
        return "bg-light-blue-1";
      } else if (this.trainingSession.type === "Film Study") {
        return "bg-green-1";
      } else {
        return "bg-pink-1";
      }
    },
    bgImage() {
      if (this.trainingSession.type === "Gi") {
        return "/statics/training-session-images/training-session-header.jpg";
      } else if (this.trainingSession.type === "No-Gi") {
        return "/statics/training-session-images/no-gi-header.jpg";
      } else if (this.trainingSession.type === "Film Study") {
        return "/statics/training-session-images/film_study.jpg";
      } else {
        return "/statics/training-session-images/training-session-header.jpg";
      }
    }
  },
  methods: {
    showShareTechnique() {
      this.$emit("share-training-session");
    },
    showEditTechnique() {
      this.$emit("edit-training-session");
    },
    showDeletePrompt() {
      this.$emit("show-delete-training-session");
    }
  }
};
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 350px
</style>
