<template>
  <transition
    appear
    enter-active-class="animated zoomIn"
    leave-active-class="animated zoomOut"
  >
    <div v-if="Object.keys(trainingSessionsFilmStudy).length">
      <list-header bgcolor="bg-green-3">Film Study Sessions</list-header>
      <q-list
        separator
        bordered
      >
        <!-- NOTE: Adjusted the v-for to use an object instead of an array for Firebase -->
        <!-- NOTE: Pass a key to acces the id insead of using session.id (array) -->
        <training-session
          v-for="(trainingSession, key) in trainingSessionsFilmStudy"
          :key="key"
          :trainingSession="trainingSession"
          :id="key"
        ></training-session>
      </q-list>
    </div>
  </transition>
</template>

<script>
export default {
  props: ["trainingSessionsFilmStudy"],
  components: {
    "list-header": require("components/Shared/ListHeader.vue").default,
    "training-session": require("components/TrainingSessions/TrainingSession.vue")
      .default
  }
};
</script>

<style>
</style>
