<template>
  <q-item
    @click="showTrainingSessionCardModal"
    :class="bgColor"
    v-touch-hold:1000.mouse="showEditTrainingSessionModal"
    clickable
    v-ripple
  >
    <q-item-section>
      <!-- NOTE: {{}} only output text, use v-html instead -->
      <!-- NOTE: This got replaced: {{trainingSession.title | searchHighlight(search) }} -->
      <q-item-label v-html="$options.filters.searchHighlight(trainingSession.title, search)"></q-item-label>
    </q-item-section>

    <q-item-section
      v-if="trainingSession.date"
      side
    >
      <div class="row">
        <div class="column justify-center">
          <q-icon
            name="event"
            size="18px"
            class="q-mr-xs"
          />
        </div>
        <div class="column">
          <q-item-label
            class="row justify-end"
            caption
          >{{ trainingSession.date }}</q-item-label>
          <q-item-label
            class="row justify-end"
            caption
          >
          </q-item-label>
        </div>
      </div>
    </q-item-section>

    <q-item-section side>
      <!-- NOTE: Adding `.stop` to the click event prevents it from propagating -->
      <!-- NOTE: the event up to the parent. -->
      <div class="row">
        <q-btn
          data-cy="edit-training-session-button"
          @click.stop="showEditTrainingSessionModal"
          flat
          round
          dense
          color="secondary"
          icon="edit"
        ></q-btn>
        <q-btn
          @click.stop="promptToDelete(id)"
          flat
          round
          dense
          color="primary"
          icon="delete"
        ></q-btn>
      </div>
    </q-item-section>
    <q-dialog
      persistent
      transition-show="slide-up"
      transition-hide="slide-down"
      v-model="showEditTrainingSession"
    >
      <edit-training-session
        @add-detailed-technique-note="addTechniqueDetailedNote"
        @edit-detailed-technique-note="showEditTechnique"
        @close="showEditTrainingSession = false"
        :training-session="trainingSession"
        :id="id"
      />
    </q-dialog>
    <q-dialog
      persistent
      transition-show="slide-up"
      transition-hide="slide-down"
      v-model="showTrainingSessionCard"
    >
      <show-training-session
        @show-share-training-session="showShareTrainingSessionModal"
        @show-edit-training-session="showEditTrainingSessionModal"
        @show-delete-training-session="promptToDelete(id)"
        @close="showTrainingSessionCard = false"
        :training-session="trainingSession"
        :id="id"
      />
    </q-dialog>
  </q-item>
</template>
<script>
import { mapState, mapActions, mapGetters } from "vuex";
import { date } from "quasar";
const { formatDate } = date;

export default {
  props: ["training-session", "id", "confirmEditDetailedTechNote"],
  watch: { 
    confirmEditDetailedTechNote: function(newVal, oldVal) { // watch it
      console.log('Prop in TrainingSession changed: ', newVal, ' | was: ', oldVal)

      if (newVal === true) {
        this.showEditTrainingSession = false;
        

        // Note: at the risk of going in circles... 

        this.$emit("edit-detailed-technique-note-finished");
        
        setTimeout(() => { 
          this.openTrainingSession();  
          }, 2000)
      }
    }
  },
  data () {
    return {
      showEditTrainingSession: false,
      showTrainingSessionCard: false
    };
  },
  computed: {
    ...mapState("training_sessions", ["search"]),
    ...mapGetters("settings", ["settings"]),
    bgColor () {
      if (this.trainingSession.type === "Gi") {
        return "bg-pink-1";
      } else if (this.trainingSession.type === "No-Gi") {
        return "bg-light-blue-1";
      } else if (this.trainingSession.type === "Film Study") {
        return "bg-green-1";
      } else {
        return "bg-pink-1";
      }
    },
  },

  methods: {
    ...mapActions("training_sessions", [
      "updateTrainingSession",
      "deleteTrainingSession"
    ]),
    addTechniqueDetailedNote() {
      console.log("trying to add a detailed tech note from edit how am I here?")
      this.$emit(
        "add-tech-note"
      );
      console.log("after emit")

    },
    openTrainingSession () {
      console.log("in open training session")
      this.showTrainingSessionCard = true;
    },
    promptToDelete (id) {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Are you sure you want to delete this training session?",
          ok: {
            push: true,
            color: "primary"
          },
          cancel: {
            push: true,
            color: "secondary"
          },
          persistent: true
        })
        .onOk(() => {
          this.showTrainingSessionCard = false;
          this.deleteTrainingSession(id);
        });
    },
    showEditTechnique(trainingSessionAndTechniqueObject) {
      console.log("Editing this technique (in TrainingSession.vue): ", trainingSessionAndTechniqueObject.tech_note)
      console.log("This is the parent: (in TrainingSession.vue): ", trainingSessionAndTechniqueObject.parentTrainingSession)
      this.$emit("edit-detailed-technique-note", trainingSessionAndTechniqueObject);
    },
    showShareTrainingSessionModal () {
      this.$q.notify({
        message: 'Technique sharing coming soon!',
        color: 'primary'})
    },
    showEditTrainingSessionModal () {
      this.showTrainingSessionCard = false;
      this.showEditTrainingSession = true;
    },
    showTrainingSessionCardModal () {
      this.showTrainingSessionCard = true;
    }
  },
  filters: {
    niceDate (value) {
      return date.formatDate(value, "MMM D, YYYY");
    },
    niceTime (value) {
      return date.formatDate(value, "hh:mm A");
    },
    searchHighlight (value, search) {
      if (search) {
        // NOTE: Use RegExp to make .replace() case insensitive 'i' flag
        // NOTE: Also allows use to use a method to return the string
        // NOTE: The 'g' flag makes it global for multiple occurences
        let searchRegExp = new RegExp(search, "ig");
        return value.replace(searchRegExp, match => {
          return '<span class="bg-secondary">' + match + "</span>";
        });
      }
      return value;
    }
  },
  components: {
    "edit-training-session": require("components/TrainingSessions/Modals/EditTrainingSession")
      .default,
    "show-training-session": require("components/TrainingSessions/Modals/ShowTrainingSession")
      .default
  }
};
</script>

<style>
</style>
