<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title class="absolute-center">Jiujitsio</q-toolbar-title>
        <q-btn
          v-if="!loggedIn"
          class="absolute-right"
          flat
          icon="account_circle"
          label="Login"
          to="/auth"
        />
        <q-btn
          data-cy="logout"
          @click="logoutUser"
          v-else
          class="absolute-right"
          flat
          icon="account_circle"
          label="Logout"
        />
      </q-toolbar>
    </q-header>

    <q-footer>
      <q-tabs>
        <q-route-tab
          v-for="nav in navs"
          class="nav"
          nav.label
          :key="nav.label"
          :to="nav.to"
          :icon="nav.icon"
          :label="nav.label"
        />
      </q-tabs>
    </q-footer>

    <q-drawer
      :breakpoint="767"
      :width="250"
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-primary"
    >
      <q-list dark>
        <q-item-label header>Navigation</q-item-label>
        <q-item
          class="text-grey-4"
          v-for="nav in navs"
          clickable
          exact
          :to="nav.to"
          :key="nav.label"
        >
          <q-item-section avatar>
            <q-icon :name="nav.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ nav.label }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "MyLayout",

  data() {
    return {
      leftDrawerOpen: false,
      navs: [
        {
          label: "Training Sessions",
          icon: "list",
          to: "/"
        },
        {
          label: "Techniques Map",
          icon: "explore",
          to: "/techniques-map"
        },
        {
          label: "Statistics",
          icon: "bar_chart",
          to: "/statistics"
        },
        {
          label: "Settings",
          icon: "settings",
          to: "/settings"
        },
        {
          label: "Store",
          icon: "storefront",
          to: "/store"
        }
      ]
    };
  },
  computed: {
    ...mapState("auth", ["loggedIn"])
  },
  methods: {
    ...mapActions("auth", ["logoutUser"])
  }
};
</script>

<style lang="scss">
.q-tab[aria-selected="true"] {
  .q-toolbar__title,
  .q-tab__label,
  .q-tab__icon,
  .q-tab__indicator {
    color: #fd5dad;
  }
}

.q-toolbar__title {
  color: #fd5dad;
}

@media screen and (min-width: 768px) {
  .q-footer {
    display: none;
  }
}

.q-drawer {
  .q-router-link--exact-active {
    color: #fd5dad !important;
  }
}
</style>
