<template>
  <form @submit.prevent="submitForm">
    <div class="row q-mb-md">
      <q-banner class="bg-grey-3 col">
        <template v-slot:avatar>
          <q-icon
            name="account_circle"
            color="primary"
          />
        </template>
        {{tab | titleCase}} to access Jiujitsio anywhere!
      </q-banner>
    </div>

    <div class="row q-mb-md">
      <q-input
        class="email col"
        label="Email"
        name="email"
        lazy-rules
        outlined
        ref="email"
        stack-label
        v-model="formData.email"
        :rules="[ val => isValidEmailAddress(val) || 'Please enter a valid email address.']"
      />
    </div>
    <div class="row q-mb-md">
      <q-input
        class="password col"
        label="Password"
        name="password"
        lazy-rules
        outlined
        ref="password"
        stack-label
        type="password"
        v-model="formData.password"
        :rules="[ val => val.length >= 6 || 'Please enter at least 6 characters.']"
      />
    </div>
   <!-- <div class="q-mb-md">
      <p>Or Sign in with Google:</p>
      <q-btn
        flat
        @click="socialLogin"
      ><img
          alt="Google login button"
          src="../../assets/google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png"
        ></q-btn>
    </div> -->
    <div class="row">
      <q-space></q-space>
      <q-btn
        data-cy="submit"
        type="submit"
        color="primary"
        :label="tab"
      />
    </div>
  </form>
</template>

<script>
import { mapActions } from "vuex";
import { showErrorMessage } from "src/functions/function-show-error-message";
import { firebaseGoogleProvider } from "boot/firebase";
import { firebaseAuth } from 'boot/firebase'


export default {
  props: ["tab"],
  data () {
    return {
      formData: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    ...mapActions("auth", ["registerUser", "loginUser"]),
    submitForm () {
      this.$refs.email.validate();
      this.$refs.password.validate();
      if (!this.$refs.email.hasError && !this.$refs.password.hasError) {
        if (this.tab === "login") {
          this.loginUser(this.formData);
        } else {
          this.registerUser(this.formData);
        }
      }
    },
    socialLogin () {

      firebaseAuth.signInWithPopup(firebaseGoogleProvider)
        .then((result) => {
          console.log("result is: ", result)
          this.$router.replace('/')
        })
        .catch((error) => {
          showErrorMessage(error.message);
        })
    },
    isValidEmailAddress (email) {
      // NOTE: method from: https://tylermcginnis.com/validate-email-address-javascript/
      return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
    }
  },
  filters: {
    // NOTE: This takes a string and makes the first letter uppercase
    titleCase (value) {
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  }
};
</script>

<style>
</style>
